<mat-card class="cardWithShadow">
  <mat-card-header class="d-flex">
    <div class="m-r-auto">
      <mat-card-title>Top Academies with the Most Events</mat-card-title>
      <mat-card-subtitle class="mat-body-1">Most Dynamic</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="table-responsive m-t-30">
      <table mat-table [dataSource]="dataSource" class="w-100">
        <!-- Position Column -->
        <ng-container matColumnDef="Academie">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Academie
          </th>
          <td mat-cell *matCellDef="let academie">
            <div class="d-flex align-items-center">
              <img [src]="academie.logo" alt="users" width="40" class="rounded-circle" />
              <div class="m-l-16">
                <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                  {{ academie.nom }}
                </h6>
                <span class="mat-body-1 f-s-12">
                  {{ academie.type }}
                </span>
              </div>
            </div>
          </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Affiliation">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Affiliation
          </th>
          <td mat-cell *matCellDef="let academie" class="mat-body-1">
            {{ academie.affiliation }}
          </td>
        </ng-container>

        <!-- Priority Column -->
        <ng-container matColumnDef="Description">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Description
          </th>
          <td mat-cell *matCellDef="let academie">
            <span>
              {{ academie.description}}
            </span>
          </td>
        </ng-container>

        <!-- Budget Column -->
        <ng-container matColumnDef="Frais Adhesion">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14">
            Frais Adhesion
          </th>
          <td mat-cell *matCellDef="let academie" class="mat-body-1">
            {{ academie.fraisAdhesion }}Dt
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let academie; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
