<div class="bg-third px-64 py-4 rounded-3xl flex justify-center">
  <div class=" w-full">
    <form id="firstForm" class="m-t-24">
      <div>
        <div class="radio-buttons-container flex justify-center">
          <mat-radio-group [(ngModel)]="selectedOption" name="selectedOption" style="margin-bottom: 20px;">
            <mat-radio-button value="equipe" [checked]="selectedOption === 'equipe'" color="primary"
                              (click)="changeOption('equipe')">Equipe
            </mat-radio-button>
            <mat-radio-button value="member" [checked]="selectedOption === 'member'" color="primary"
                              (click)="changeOption('member')">Member
            </mat-radio-button>
          </mat-radio-group>
        </div>

        <!-- Equipe selection -->
        <div *ngIf="selectedOption === 'equipe'">
          <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Equipe </label>

          <select
            [(ngModel)]="selectedEquipe"
            required
            name="HeadlineAct"
            id="HeadlineAct"
            class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
          >
            <option value=""></option>
            <option *ngFor="let equipe of equipeList" [value]="equipe.id">{{
                equipe.nom
              }}
            </option>
          </select>
        </div>
        <!-- Member selection -->
        <div *ngIf="selectedOption === 'member'">

          <label  class="block text-sm font-medium text-gray-900"> Equipe </label>

          <select
            (change)="setEquipe2($event)"
            name="equipe" required
            class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
          >
            <option value=""></option>
            <option *ngFor="let equipe of equipeList"  [value]="equipe.id">{{
                equipe.nom
              }}
            </option>
          </select>
        </div>

        <!--        TODO CHANGE UI-->
        <div *ngIf="selectedOption === 'member' && selectedEquipe2">
          <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Members</mat-label>
          <mat-form-field appearance="outline" class="w-100">
            <mat-select multiple required [(ngModel)]="selectedMembers" name="membres" required>
              <mat-option *ngFor="let member of selectedEquipe2.adherents" [value]="member.id">{{
                  member.firstname
                }} {{ member.lastname }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
    <form [formGroup]="evenementForm">
      <div class="mt-4">
        <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Nom </label>
        <input required placeholder="Nom" formControlName="nom"
               class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"/>
        <p class="text-red-600" *ngIf="evenementForm.get('nom')?.invalid && evenementForm.get('nom')?.touched">Champ nom
          est obligatoire!
        </p>
      </div>
      <div class="mt-4">
        <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Lieu </label>
        <input matInput required placeholder="Lieu" formControlName="lieu"
               class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"/>
        <p class="text-red-600" *ngIf="evenementForm.get('lieu')?.invalid && evenementForm.get('lieu')?.touched">
          Champ lieu est obligatoire!
        </p>
      </div>
      <div class="mt-4 row">
        <div class="col">
          <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Date </label>
          <input type="date"
                 class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                 required formControlName="date"/>
          <p class="text-red-600" *ngIf="evenementForm.get('date')?.invalid && evenementForm.get('date')?.touched">
            Champ Date est obligatoire!
          </p>
        </div>
        <div class="col"><label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Horraire </label>

          <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                 required type="time" formControlName="horraire"/>

          <p class="text-red-600"
             *ngIf="evenementForm.get('horraire')?.invalid && evenementForm.get('horraire')?.touched">
            Champ Horraire est obligatoire!
          </p>

        </div>
      </div>
      <!-- Description -->
      <div class="mt-4">
        <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Description </label>

        <textarea
          class="mt-1.5 h-18 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
          required rows="4" formControlName="description"></textarea>

        <p class="text-red-600"
           *ngIf="evenementForm.get('description')?.invalid && evenementForm.get('description')?.touched">
          Champ Description est obligatoire!
        </p>
      </div>
      <!-- <div class="mt-4">
        <mat-checkbox formControlName="repetition">Se répéte</mat-checkbox>
      </div>
      <div class="mt-4" style="margin-top: 20px;" *ngIf="evenementForm.get('repetition')?.value">

        <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Chaque </label>
        <select
          [(ngModel)]="selectedTypeRepetition"
          required
          formControlName="typeRepetition" name="typeRepetition"
          class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
        >
          <option *ngFor="let typeRepetition of typeRepetitions" [value]="typeRepetition">{{
              typeRepetition |titlecase
            }}
          </option>
        </select>
      </div>
      <div class="mt-4" style="margin-top: 20px;" *ngIf="evenementForm.get('repetition')?.value">

        <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Nombre de fois </label>
        <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
               required type="number" formControlName="nbRepetition"/>

      </div> -->
      <!--      </div>-->
      <div class="mt-4 flex justify-center">
        <button class="px-8 py-2 rounded-3xl font-semibold bg-main hover:bg-mainHover disabled:bg-second text-black"
                (click)="onSubmit()"
                [disabled]="!evenementForm.valid">Confirmer
        </button>
      </div>
    </form>
  </div>
</div>
