<div class="bg-third min-h-screen px-64 py-4 rounded-3xl flex justify-center">
  <div class=" w-full">
    <div class="">
      <div class="mb-8">
        <div>
          <h2 class="sr-only">Steps</h2>

          <div
            class=" "
          >
            <ol class="  flex gap-28 justify-center text-sm font-medium text-gray-500">
              <li class="  gap-2 bg-white p-2">
                <p class="size-12  pt-2.5 rounded-full bg-main text-black text-center text-lg  font-bold"> 1 </p>

                <p class="text-center hidden sm:block text-black"> Details </p>
              </li>

              <li class="  gap-2 bg-white p-2">
                <p class="size-12  pt-2.5 rounded-full bg-main text-black text-center text-lg  font-bold"> 2 </p>

                <p class="text-center hidden sm:block text-black"> Dates </p>
              </li>

            </ol>
          </div>
        </div>
      </div>
      <div>

        <form [formGroup]="matchAmicalForm" class="m-t-24">
          <!-- Nom -->
          <div class="col-md-12">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nom</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input formControlName="nomEvent" matInput required/>
              <mat-error *ngIf="matchAmicalForm.get('nomEvent')!.hasError('required')">Nom is required</mat-error>
            </mat-form-field>
          </div>
          <!-- Lieu -->
          <div class="col-md-12">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Lieu</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input formControlName="lieu" matInput required/>
              <mat-error *ngIf="matchAmicalForm.get('lieu')!.hasError('required')">Lieu is required</mat-error>
            </mat-form-field>
          </div>
          <!-- Date -->
          <div class="col-md-12">
            <label for="HeadlineAct" class="block text-sm font-medium text-gray-900"> Date </label>
            <input type="date"
                   class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   required formControlName="date"/>
              <mat-error *ngIf="matchAmicalForm.get('date')!.hasError('required')">Date is required</mat-error>
          </div>
          <!-- Description -->
          <div class="col-md-12">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Description</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <textarea formControlName="description" matInput required rows="4"></textarea>
              <mat-error *ngIf="matchAmicalForm.get('description')!.hasError('required')">Description is required
              </mat-error>
            </mat-form-field>
          </div>
          <!-- <div class="col-md-12">
            <mat-checkbox formControlName="repetition">Se répéte</mat-checkbox>
          </div>
          <div *ngIf="matchAmicalForm.get('repetition')?.value" class="col-md-12" style="margin-top: 20px;">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Chaque</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(ngModel)]="selectedTypeRepetition" formControlName="typeRepetition" name="typeRepetition">
                <mat-option *ngFor="let typeRepetition of typeRepetitions"
                            [value]="typeRepetition">{{ typeRepetition }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div *ngIf="matchAmicalForm.get('repetition')?.value" class="col-md-12" style="margin-top: 20px;">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nombre de fois</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input formControlName="nbRepetition" matInput required type="number"/>
            </mat-form-field>
          </div> -->
          <div class="checkbox-container">
            <!-- Checkboxes for equipe selection -->
            <div *ngFor="let equipe of equipeList" class="checkbox-input-container">
              <div class="d-flex align-items-center">
                <mat-checkbox (click)="onEquipeSelect(equipe.id)" [checked]="selectedEquipeId === equipe.id"
                              [value]="equipe.id.toString()"
                              class="checkbox-button">
                  {{ equipe.nom }}
                </mat-checkbox>
                <div *ngIf="selectedEquipeId === equipe.id" class="horaire-input">
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Horaire for {{ equipe.nom }}</mat-label>
                  <mat-form-field appearance="outline" class="w-100">
                    <input formControlName="horaire" matInput required type="time"/>
                    <mat-error *ngIf="matchAmicalForm.get('horaire')!.hasError('required')">Horaire is required
                    </mat-error>
                  </mat-form-field>

                </div>
              </div>
            </div>
          </div>
          <!--          <div class="d-flex align-items-center justify-content-between" style="margin-top: 70px;">-->
          <!--            <button mat-flat-button color="warn" matStepperPrevious>-->
          <!--              Back-->
          <!--            </button>-->
          <!--            <button mat-flat-button color="primary" type="button" (click)="onSubmit()"-->
          <!--                    [disabled]="!matchAmicalForm.valid">Finish-->
          <!--            </button>-->
          <!--          </div>-->
          <div class="text-right">
            <button>Next</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
