<div >
  <form [formGroup]="managerForm">
    <div class="row">
      <div class="col-sm-6">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nom</mat-label>
        <mat-form-field appearance="outline" class="w-50">
          <input matInput placeholder="John Deo" formControlName="lastName" />
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Prénom</mat-label>
        <mat-form-field appearance="outline" class="w-50">
          <input matInput placeholder="John Deo" formControlName="firstName" />
        </mat-form-field>
      </div>
    </div>
  </form>
</div>