<div class="row">
  <div class="col-lg-6">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header>
        <mat-card-title class="m-b-0">Informations Générales</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <form [formGroup]="managerForm">
          <!-- <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Photo
             </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              <img
              class="mat-card"
              [src]="element.photo"
              width="40" class="rounded-circle m-r-5"
            />
           </td>
          </ng-container> -->
          <div class="row"> 
              <div class="col-sm-6"> 
                  <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nom</mat-label> 
                  <mat-form-field appearance="outline" class="w-50"> 
                    <input formControlName="lastname" matColumnDef="lastname" id="lastname"  matInput/> 
                    <mat-icon matPrefix class="op-5">
                      <i-tabler name="user" class="icon-20 d-flex"></i-tabler>
                    </mat-icon>                     
                  </mat-form-field> 
              </div> 
                  <div class="col-sm-6"> 
                      <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Prénom</mat-label> 
                      <mat-form-field appearance="outline" class="w-50"> 
                          <input formControlName="firstname" type="text" matInput required id="firstname" name="firstname"
                    placeholder="firstname" />
                      </mat-form-field> 
                  </div> 
              </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Date de naissance</mat-label>
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="dateNaissance" type="date" matColumnDef="dateNaissance" id="dateNaissance" matInput  />
                <mat-icon matPrefix class="op-5">
                  <img name="birthday-cake" class="icon-20 d-flex birthday-icon" src="assets/images/svgs/birthday-cake.svg">
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Adresse</mat-label>
              </div>
              <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                  <input formControlName="adresse" matColumnDef="adresse" matInput />
                  <mat-icon matPrefix class="op-5">
                    <i-tabler
                      name="building-arch"
                      class="icon-20 d-flex"
                    ></i-tabler>
                  </mat-icon>
                </mat-form-field>
              </div>
            </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                >Email</mat-label
              >
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="email" matColumnDef="email" matInput type="email" />
                <mat-icon matPrefix class="op-5">
                  <i-tabler name="mail" class="icon-20 d-flex"></i-tabler>
                </mat-icon>
              </mat-form-field>
            </div>
          </div>
          
          <div class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >Téléphone</mat-label
                >
              </div>
              <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                  <input formControlName="telephone" matColumnDef="telephone" matInput/>
                  <mat-icon matPrefix class="op-5">
                    <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="userRole === 'MANAGER'" class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Téléphone 2</mat-label>
              </div>
              <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                  <input formControlName="telephone2" matColumnDef="telephone2" matInput />
                  <mat-icon matPrefix class="op-5">
                    <i-tabler name="phone" class="icon-20 d-flex"></i-tabler>
                  </mat-icon>
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                  >Nationalité</mat-label
                >
              </div>
              <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                  <input formControlName="nationalite" matColumnDef="nationalite" type="country" matInput/>
                  <mat-icon matPrefix class="op-5">
                    <img name="flag-wave" class="icon-20 d-flex birthday-icon" src="assets/images/svgs/flag-wave.svg">
                  </mat-icon>
                </mat-form-field>
              </div>
            </div>
       
            <div *ngIf="userRole === 'ADHERENT'" class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Niveau scolaire</mat-label>
              </div>
              <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                  <input formControlName="niveauScolaire" matInput placeholder="Bac"/>
                </mat-form-field>
              </div>
            </div>

            <div *ngIf="userRole === 'ADHERENT' || userRole === 'STAFF' || userRole === 'ENTRAINEUR'" class="row">

            <div class="row">
              <div class="col-sm-12 d-flex align-items-center">
                <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Equipe</mat-label>
              </div>
                <div class="col-sm-12">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-select formControlName="equipe" matNativeControl required id="equipes" name="equipes" placeholder="Equipe">
                    <mat-option *ngFor="let nomEquipe of nomEquipeOptions" [value]="nomEquipe">{{ nomEquipe }}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
            <br>
            <div>
              <button mat-flat-button (click)="doAction('UpdateProfil') "color="primary">
                Mettre à jour votre profile
               </button>
              </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-lg-6">
    <mat-card class="cardWithShadow theme-card">
      <mat-card-header>
        <mat-card-title class="m-b-0">Changer mot de passe</mat-card-title>
      </mat-card-header>
      <mat-card-content class="b-t-1">
        <form [formGroup]="changePwdForm">
          
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                >Mot de passe actuelle</mat-label
              >
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="currentPassword" [type]="isCurrentPasswordVisible ? 'text' : 'password'" matInput required 
                id="currentPassword" name="currentPassword"/>
                <button mat-icon-button matSuffix (click)="toggleCurrentPasswordVisibility()" type="button">
                  <mat-icon>{{ isCurrentPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="validationError">{{ validationError }}</mat-error>

              </mat-form-field>
              <div *ngIf="changePwdForm.get('currentPassword')?.invalid && (changePwdForm.get('currentPassword')?.dirty || changePwdForm.get('currentPassword')?.touched)" class="text-danger">
                <div *ngIf="changePwdForm.get('currentPassword')?.hasError('required')">Current password is required.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                >Nouveau mot de passe</mat-label
              >
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="newPassword" [type]="isNewPasswordVisible ? 'text' : 'password'" matInput required 
                id="newPassword" name="newPassword"/>
                <button mat-icon-button matSuffix (click)="toggleNewPasswordVisibility()" type="button">
                  <mat-icon>{{ isNewPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="validationError">{{ validationError }}</mat-error>
                <div *ngIf="changePwdForm.get('newPassword')?.invalid && (changePwdForm.get('newPassword')?.dirty || changePwdForm.get('newPassword')?.touched)" class="text-danger">
                  <div *ngIf="changePwdForm.get('newPassword')?.hasError('required')">New password is required.</div>
                  <div *ngIf="changePwdForm.get('newPassword')?.hasError('minlength')">New password must be at least 6 characters long.</div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 d-flex align-items-center">
              <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16"
                >Confirmer mot de passe</mat-label
              >
            </div>
            <div class="col-sm-12">
              <mat-form-field appearance="outline" class="w-100">
                <input formControlName="confirmPassword" [type]="isConfirmPasswordVisible ? 'text' : 'password'" matInput required 
                id="confirmPassword" name="confirmPassword"/>
                <button mat-icon-button matSuffix (click)="toggleConfirmPasswordVisibility()" type="button">
                  <mat-icon>{{ isConfirmPasswordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
                <mat-error *ngIf="validationError">{{ validationError }}</mat-error>
                <div *ngIf="changePwdForm.get('confirmPassword')?.invalid && (changePwdForm.get('confirmPassword')?.dirty || changePwdForm.get('confirmPassword')?.touched)" class="text-danger">
                  <div *ngIf="changePwdForm.get('confirmPassword')?.hasError('required')">Confirm password is required.</div>
                  <div *ngIf="changePwdForm.get('confirmPassword')?.hasError('minlength')">Confirm password must be at least 6 characters long.</div>
                  <div *ngIf="!changePwdForm.get('confirmPassword')?.hasError('minlength') && !changePwdForm.get('confirmPassword')?.hasError('required') && changePwdForm.get('confirmPassword')?.hasError('passwordMismatch')">Passwords do not match.</div>
                </div>
              </mat-form-field>
            </div>
          </div>
          <div *ngIf="serverSideError" class="alert alert-danger">
            {{ serverSideError }}
          </div>
          <br>
          <div>
          <button mat-flat-button (click)="doAction('ResetPWD')" color="primary">
           Changer mot de passe
          </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
