<mat-card class="cardWithShadow">
    <mat-card-content class="p-0">
        <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <div class="d-flex align-items-center">
                        <mat-icon>
                            <i-tabler name="user-circle" class="icon-20 m-r-8"></i-tabler>
                        </mat-icon>
                    </div>
                    Academie
                </ng-template>
                <mat-card-content class="p-y-24 b-t-1">
                    <div class="row">
                        <div class="col-sm-6">
                            <mat-card *ngIf="academie" class="cardWithShadow"
                                [ngStyle]="{'background-image': 'url(' + academie.backgroundImage + ')', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center top'}">
                                <mat-card-content class="p-y-24">
                                    <mat-card-title [style.color]="academie.backgroundImage ? 'white' : 'black'">Change
                                        Profile</mat-card-title>
                                    <mat-card-subtitle class="mat-body-1"
                                        [style.color]="academie.backgroundImage ? 'white' : ''">Change your profile
                                        details from here</mat-card-subtitle>
                                    <div class="text-center m-t-24">
                                        <img [src]="academie.logo" class="rounded-circle" width="120" />
                                        <div class="m-t-24">
                                            <button mat-flat-button color="primary" class="update-profile-button"
                                                (click)="openUpdateProfileDialog()">
                                                Update profile
                                            </button>
                                            <!-- Updated button to have transparent background and picture icon -->
                                            <button mat-icon-button class="upload-background-button"
                                                [style.color]="academie.backgroundImage ? 'white' : 'black'"
                                                (click)="fileInput.click()">
                                                <mat-icon>image</mat-icon>
                                            </button>
                                            <input type="file" #fileInput style="display: none;"
                                                (change)="uploadFile($event)">
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-sm-6">
                            <mat-card class="cardWithShadow">
                                <mat-card-content class="p-y-24">
                                    <mat-card-title>Academie Information</mat-card-title>
                                    <form class="m-t-24" *ngIf="academie">
                                        <!-- input -->
                                        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Nom academie</mat-label>
                                        <mat-form-field appearance="outline" class="w-100" color="primary">
                                            <input matInput type="text" [value]="academie.nom" readonly />
                                        </mat-form-field>
                                        <!-- input -->
                                        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Type
                                            academie</mat-label>
                                        <mat-form-field appearance="outline" class="w-100" color="primary">
                                            <input matInput type="text" [value]="academie.type" readonly />
                                        </mat-form-field>
                                        <!-- input -->
                                        <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Nom manager
                                            academie</mat-label>
                                        <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                                            <input matInput type="text"
                                                [value]="academie.manager.firstname + ' ' + academie.manager.lastname"
                                                readonly>
                                        </mat-form-field>

                                    </form>
                                </mat-card-content>
                            </mat-card>
                        </div>
                        <div class="col-12">
                            <mat-card class="cardWithShadow">
                                <mat-card-content>
                                    <mat-card-title>Academie Details</mat-card-title>
                                    <div class="row m-t-24" *ngIf="academie">
                                        <div class="col-sm-6">
                                            <!-- input -->
                                            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Description
                                                academie</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="text" [value]="academie.description" readonly />
                                            </mat-form-field>
                                            <!-- input -->
                                            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Frais
                                                academie</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="number" [value]="academie.fraisAdhesion"
                                                    readonly />
                                            </mat-form-field>
                                        </div>
                                        <div class="col-sm-6">
                                            <!-- input -->
                                            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Etat
                                                academie</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="text" [value]="academie.etat" readonly />
                                            </mat-form-field>
                                            <!-- input -->
                                            <mat-label class="mat-subtitle-2 f-w-600 m-b-8 d-block">Address</mat-label>
                                            <mat-form-field appearance="outline" class="w-100" color="primary">
                                                <input matInput type="text"
                                                    [value]="academie.codePostal + ' ' + academie.rue + ' ' + academie.ville + ' ' + academie.pays"
                                                    readonly />
                                            </mat-form-field>
                                        </div>
                                    </div>
                                </mat-card-content>
                            </mat-card>
                        </div>
                    </div>
                </mat-card-content>
            </mat-tab>
        </mat-tab-group>
    </mat-card-content>
</mat-card>

<style>
    .upload-background-button {
        position: absolute;
        top: 8px;
        right: 8px;
        background-color: rgba(255, 255, 255, 0);
        /* Transparent background */
        border: none;
        /* Remove border */
        padding: 8px;
        transition: background-color 0.3s;
        color: white;
        /* Set icon color to white */
    }

    .upload-background-button:hover {
        background-color: rgba(255, 255, 255, 0.1);
        /* Light transparent background on hover */
    }

    .update-profile-button {
        color: white;
        /* Set text color to white */
        background-color: #2196F3;
        /* Set background color */
        border-radius: 4px;
        /* Rounded corners */
        transition: background-color 0.3s, color 0.3s;
        /* Smooth transition */
    }

    .update-profile-button:hover {
        background-color: #0D47A1;
        /* Darker background color on hover */
    }
</style>