<div class="row mt-4">
  <div class="col-lg-8">
    <div [ngStyle]="{'background-image': 'url(' + academie.backgroundImage + ')', 'background-size': 'cover', 'background-repeat': 'no-repeat', 'background-position': 'center top'}"
         class="shadow-none h-full  card rounded-3xl  overflow-hidden">
      <div class="absolute  inset-0 bg-gradient-to-r from-black to-transparent opacity-75 rounded-3xl  ml-3.5"></div>

      <div class="p-32 p-b-0">
        <div class="row -mt-12">
          <div class="col flex justify-end pt-4">
            <button (click)="fileInput.click()" [style.color]="academie.backgroundImage ? 'white' : 'black'"
                    class="upload-background-button"
                    mat-icon-button>
              <mat-icon>image</mat-icon>
            </button>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-sm-6">
            <mat-card-title> <span class="text-white">
          {{ academie.nom|titlecase }}
            </span></mat-card-title>
            <mat-card-subtitle class="mat-body-1 m-t-16 text-white lh-24 m-b-24"
            >Votre Dahsboard Ultime
            </mat-card-subtitle
            >
            <button
              (click)="openUpdateProfileDialog()"
              class="rounded-3xl shadow-sm text-black bg-main py-2 px-4 font-semibold hover:bg-mainHover hover:shadow-md">
              Modifier
            </button>
          </div>
          <div class="col-sm-5">
            <img
              [src]="academie.logo"
              alt="welcome"
              class="welcome-img" width="150"
            />
          </div>

          <div class="m-t-24">
            <!-- Updated button to have transparent background and picture icon -->

            <input #fileInput (change)="uploadFile($event)" style="display: none;"
                   type="file">
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-lg-4">
    <div class="row">
      <div class="col-sm-6">
        <div class="card h-full bg-third px-4 py-2 rounded-3xl ">
          <div class="p-t-32">
    <span class="bg-light-primary rounded icon-40 d-flex align-items-center justify-content-center">
      <img alt="paypal" src="assets/images/svgs/icon-paypal.svg"/>
    </span>

            <mat-card-subtitle class="mat-body-1 p-b-4 m-t-24"
            >Paiements
            </mat-card-subtitle>
            <h5 class="mat-subtitle-1 m-t-4 f-w-600"> 678,298 DT</h5>

            <div class="d-flex align-items-center m-t-16">
              <button
                class="bg-light-success text-success shadow-none icon-27"
                mat-mini-fab
              >
                <i-tabler class="icon-20" name="arrow-up-left"></i-tabler>
              </button>
              <div class="mat-body-1 f-w-600 m-l-12">+9%</div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-sm-6">
        <app-products></app-products>
      </div>
    </div>
  </div>
  <div class="col-lg-4 mt-4">
    <app-revenue-updates-two></app-revenue-updates-two>
  </div>
  <div class="col-lg-4 mt-4">
    <app-sales-overview></app-sales-overview>
  </div>
  <div class="col-lg-4 mt-4">
    <div class="row">
      <div class="col-sm-6 mt-4">
        <app-total-earnings></app-total-earnings>
      </div>
      <div class="col-sm-6 mt-4">
        <app-sales-profit></app-sales-profit>
      </div>
      <div class="col-12 mt-4">
        <app-monthly-earnings-two></app-monthly-earnings-two>
      </div>
    </div>
  </div>
  <!--  <div class="col-lg-4 mt-4">-->
  <!--    <app-weekly-stats></app-weekly-stats>-->
  <!--  </div>-->
  <!--  <div class="col-lg-4 mt-4">-->
  <!--    <app-yearly-sales></app-yearly-sales>-->
  <!--  </div>-->
  <!--  <div class="col-lg-4 mt-4">-->
  <!--    <app-payment-gateways></app-payment-gateways>-->
  <!--  </div> -->
</div>
