<app-navbar></app-navbar>
<div class="row mb-8">
  <div class="col-4">
    <button (click)="previousWeek()" class=" bg-transparent ">
      <i-tabler class="pt-1.5" name="chevron-left"></i-tabler>
    </button>
    <span class="  bg-second text-black py-2 text-center rounded-3xl px-4 font-semibold ">{{ currentWeekRange }}</span>
    <button (click)="nextWeek()" class=" bg-transparent ">
      <i-tabler class="pt-1.5" name="chevron-right"></i-tabler>
    </button>
  </div>

</div>


<div class="  bg-third  rounded-3xl mt-8  p-12 ">
  <div class="table-responsive">
    <table [dataSource]="teamSchedules" class="bg-transparent     " mat-table>
      <!-- Team Column -->
      <ng-container matColumnDef="team">
        <th *matHeaderCellDef class="bg-third">Équipe</th>
        <td *matCellDef="let element" class="bg-third ">{{ element.team }}</td>
      </ng-container>

      <!-- Dynamic Day Columns -->
      <ng-container *ngFor="let day of weekDays" [matColumnDef]="day">
        <th *matHeaderCellDef class="bg-third">
          {{ day }}
          <br>
          <small>{{ weekDates[day] }}</small>
        </th>
        <td *matCellDef="let element" class="bg-third text-center">
          <ng-container *ngIf="element.schedule[day]; else addBtn">
            <div class="flex justify-center">
              <button (click)="openUpdateHeureDialog(element.schedule[day], element.adherents, element.schedule[day].id)"
                      mat-button>
                <strong
                  style="margin-right: 3px; margin-left: 20px;">{{ element.schedule[day].heure | slice:0:5 }}</strong>
              </button>
              <button (click)="deleteConvocation(element.schedule[day].id)"
                      class="text-red-600 hover:bg-red-100 rounded-md text-sm">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </ng-container>

          <ng-template #addBtn>
            <div class="flex justify-center">
              <button (click)="openAddHeureDialog(element.team, weekDates[day], element.adherents, element.id,element.nom)"
                      mat-button>
                <mat-icon>add_circle</mat-icon>
                Ajouter
              </button>
            </div>
          </ng-template>
        </td>
      </ng-container>

      <!-- Header and Row Declarations -->
      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
    </table>
  </div>
</div>
