<div mat-dialog-title>
  <i-tabler (click)="onCancelClick()" class="hover:cursor-pointer" name="arrow-left"></i-tabler>
</div>
<div class="py-12" mat-dialog-content>
  <div class="row">
    <div class="col flex justify-center">
      @if (step1) {
        <h1 class="text-xl text-black text-center">


          Ajouter l'heure <br> de l'entrainement

        </h1>
      }
      @if (!step1) {
        <h1 class="text-xl text-black text-center">
          Sélectionner les joueurs


        </h1>
      }
    </div>
  </div>
  <div class="row mt-8">
    <div class="col flex justify-center">
      <div class="dialog-content w-full flex justify-center">
        @if (step1) {
          <input
            class="w-64 text-center text-3xl border-transparent h-14  rounded-md active:border-0 active:border-transparent"
            [(ngModel)]="heure" type="time">
        }
        @if (!step1) {
          <div *ngIf="data.adherents && data.adherents.length" class="w-full flex justify-center">
            <div class="grid grid-cols-2 w-full ">
              <div *ngFor="let adherent of data.adherents">
                <mat-checkbox color="primary"
                              [checked]="selectedAdherents.includes(adherent.id)"
                              (change)="onAdherentCheckboxChange(adherent.id, $event.checked)">
                  {{ adherent.firstname }} {{ adherent.lastname }}
                </mat-checkbox>

              </div>
            </div>
          </div>
          <div class="text-gray-400" *ngIf="!data.adherents || !data.adherents.length">
            Aucun adhérent trouvé.
          </div>
          <div>
          </div>
        }
      </div>
    </div>
  </div>
  <div class=" flex justify-center mt-8">
    <button (click)="nextStep()" *ngIf="step1" class="bg-main font-bold rounded-3xl h-9 px-5 py-2    text-black">
      Suivant
    </button>
    <button (click)="onSave()" *ngIf="!step1" class="bg-main font-bold rounded-3xl h-9 px-5 py-2    text-black">
      Confirmer
    </button>
  </div>

</div>
