<mat-card class="shadow-none bg-primary">
  <mat-card-content class="p-t-32">
    <mat-card-title class="text-white">Academies and Clubs</mat-card-title>
    <mat-card-subtitle class="text-white">A Comparative Analysis</mat-card-subtitle>
    <div class="text-center">
      <img
        src="assets/images/backgrounds/piggy.png"
        alt="image"
        width="300"
        class="m-t-24 minus-img"
      />
    </div>
  </mat-card-content>
  <mat-card class="shadow-none m-12">
    <mat-card-content class="p-24">
      <div class="d-flex align-items-center m-b-8">
        <div class="m-r-auto">
          <h6 class="mat-subtitle-1 f-s-16 f-w-600 m-b-4">Club Analysis</h6>
          <span class="mat-body-1">count : {{ clubCount }}</span>
        </div>
        <span class="bg-light-primary text-primary rounded f-w-600 p-4 f-s-12 p-x-12">
          {{ clubPercentage }}%
        </span>
      </div>
      <mat-progress-bar
        mode="determinate"
        [value]="clubPercentage"
        class="rounded"
      ></mat-progress-bar>
      <div class="d-flex align-items-center m-b-8 m-t-16">
        <div class="m-r-auto">
          <h6 class="mat-subtitle-1 f-s-16 f-w-600 m-b-4">Academie Analysis</h6>
          <span class="mat-body-1">count : {{ academieCount }}</span>
        </div>
        <span
          class="bg-light-accent text-accent rounded f-w-600 p-4 f-s-12 p-x-12"
        >
          {{ academiePercentage }}%
        </span>
      </div>
      <mat-progress-bar
        mode="determinate"
        color="accent"
        [value]="academiePercentage"
        class="rounded"
      ></mat-progress-bar>
    </mat-card-content>
  </mat-card>
</mat-card>
