<mat-card class="cardWithShadow theme-card">
    <mat-card-header>
        <mat-card-title class="m-b-0">Add Evenement Personnalisé</mat-card-title>
    </mat-card-header>
    <mat-card-content class="b-t-1">
        <mat-stepper #stepper>
            <mat-step>
                <form [formGroup]="evenementForm" class="m-t-24">
                    <ng-template matStepLabel>Détails</ng-template>
                    <div class="row">
                        <!-- Nom -->
                        <div class="col-md-12">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Nom</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput required placeholder="Nom" formControlName="nom" />
                            </mat-form-field>
                        </div>
                        <!-- Lieu -->
                        <div class="col-md-12">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Lieu</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput required placeholder="Lieu" formControlName="lieu" />
                            </mat-form-field>
                        </div>
                        <!-- Date -->
                        <div class="col-md-6">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Date</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput [matDatepicker]="picker" required formControlName="date" />
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <!-- Horraire -->
                        <div class="col-md-6">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Horraire</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <input matInput required type="time" formControlName="horraire" />
                            </mat-form-field>
                        </div>
                        <!-- Description -->
                        <div class="col-md-12">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Description</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <textarea matInput required rows="4" formControlName="description"></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="text-right">
                        <button mat-flat-button color="primary" matStepperNext>Next</button>
                    </div>
                </form>
            </mat-step>

            <mat-step>
                <form class="m-t-24">
                    <ng-template matStepLabel>Convocation</ng-template>
                    <div>
                        <!-- Radio buttons for selection -->
                        <div class="radio-buttons-container">
                            <mat-radio-group [(ngModel)]="selectedOption" name="selectedOption"
                                style="margin-bottom: 20px;">
                                <mat-radio-button value="equipe" [checked]="selectedOption === 'equipe'"
                                    (click)="changeOption('equipe')">Equipe</mat-radio-button>
                                <mat-radio-button value="member" [checked]="selectedOption === 'member'"
                                    (click)="changeOption('member')">Member</mat-radio-button>
                            </mat-radio-group>
                        </div>

                        <!-- Equipe selection -->
                        <div *ngIf="selectedOption === 'equipe'">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Equipe</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select required [(ngModel)]="selectedEquipe" name="equipe">
                                    <mat-option *ngFor="let equipe of equipeList" [value]="equipe.id">{{ equipe.nom }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Member selection -->
                        <div *ngIf="selectedOption === 'member'">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Equipe</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select [(ngModel)]="selectedEquipe2" name="equipe" required>
                                    <mat-option *ngFor="let equipe of equipeList" [value]="equipe">{{ equipe.nom }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div *ngIf="selectedOption === 'member' && selectedEquipe2">
                            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Members</mat-label>
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-select multiple required [(ngModel)]="selectedMembers" name="membres">
                                    <mat-option *ngFor="let member of selectedEquipe2.adherents" [value]="member.id">{{ member.firstname }} {{ member.lastname }}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <button mat-flat-button color="warn" matStepperPrevious>
                            Back
                        </button>
                        <button mat-flat-button color="primary" (click)="onSubmit()">Finish</button>
                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </mat-card-content>
</mat-card>

<style>
    .radio-buttons-container {
        display: flex;
        justify-content: center;
    }
</style>
