<div class="bg-third   px-64 py-4 rounded-3xl flex justify-center">
  <div class=" w-full">
    <div class="">
      <div class="mb-8">
        <div>
          <div
            class=" "
          >
            <ol class="  flex gap-28 justify-center text-sm font-medium text-gray-500">
              <li class="  gap-2   p-2">
                <button (click)="step1=true"
                        class="size-12  pt-0.5 rounded-full bg-main text-black text-center text-lg  font-bold"> 1
                </button>

                <p class="text-center hidden sm:block text-black"> Details </p>
              </li>

              <li class="  gap-2  p-2">
                <button (click)="step1=false"
                        [ngClass]="{
                  'bg-main': !step1,
                  'bg-transparent': step1,
                  'text-black': !step1,
                  'border-second': step1,
                  'border-2': step1,
                  'text-second': step1,
                }"

                        class="size-12  pt-0.5  rounded-full  text-second    text-center text-lg  font-bold"
                > 2
                </button>

                <p class="text-center hidden sm:block text-black">Cnvocation</p>
              </li>

            </ol>
          </div>
        </div>
      </div>
      <form [formGroup]="evenementForm" class="m-t-24">
        <div class=" ">
          <!-- Nom -->
          <div class="mt-4">
            <label class="block text-sm font-medium text-gray-900"> Nom </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm" formControlName="nom" placeholder="Nom"
                   required/>
            <p *ngIf="evenementForm.get('nom')?.invalid && evenementForm.get('nom')?.touched" class="text-red-600">Champ
              nom
              est obligatoire!
            </p>
          </div>
          <!-- Lieu -->
          <div class="mt-4">
            <label class="block text-sm font-medium text-gray-900"> Lieu </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm" formControlName="lieu" matInput placeholder="Lieu"
                   required/>
            <p *ngIf="evenementForm.get('lieu')?.invalid && evenementForm.get('lieu')?.touched" class="text-red-600">
              Champ lieu est obligatoire!
            </p>
          </div>
          <!-- Date -->
          <div class="mt-4 row">
            <div class="col">
              <label class="block text-sm font-medium text-gray-900"> Date </label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="date"
                     required type="date"/>
              <p *ngIf="evenementForm.get('date')?.invalid && evenementForm.get('date')?.touched" class="text-red-600">
                Champ Date est obligatoire!
              </p>
            </div>
            <div class="col"><label class="block text-sm font-medium text-gray-900"> Horraire </label>

              <input
                class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                formControlName="horraire" required type="time"/>

              <p *ngIf="evenementForm.get('horraire')?.invalid && evenementForm.get('horraire')?.touched"
                 class="text-red-600">
                Champ Horraire est obligatoire!
              </p>

            </div>
          </div>
          <!-- Description -->
          <div class="mt-4">
            <label class="block text-sm font-medium text-gray-900"> Description </label>

            <textarea
              class="mt-1.5 h-18 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
              formControlName="description" rows="4"></textarea>
          </div>
          <div class="mt-4">
            <mat-checkbox formControlName="repetition">Se répéte</mat-checkbox>
          </div>

          <div *ngIf="evenementForm.get('repetition')?.value" class="mt-4" style="margin-top: 20px;">

            <label class="block text-sm font-medium text-gray-900"> Chaque </label>
            <select
              [(ngModel)]="selectedTypeRepetition"
              class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
              formControlName="typeRepetition" name="typeRepetition"
              required
            >
              <option *ngFor="let typeRepetition of typeRepetitions" [value]="typeRepetition">{{
                  typeRepetition |titlecase
                }}
              </option>
            </select>
          </div>
          <div *ngIf="evenementForm.get('repetition')?.value" class="mt-4" style="margin-top: 20px;">

            <label class="block text-sm font-medium text-gray-900" for="HeadlineAct"> Nombre de fois </label>
            <input
              class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
              formControlName="nbRepetition" required type="number"/>

          </div>
        </div>
        <div class="text-right">
          <button color="primary" mat-flat-button>Next</button>
        </div>
        <div>
          <!-- Radio buttons for selection -->
          <div class="radio-buttons-container">
            <mat-radio-group [(ngModel)]="selectedOption" name="selectedOption"
                             style="margin-bottom: 20px;">
              <mat-radio-button (click)="changeOption('equipe')" [checked]="selectedOption === 'equipe'"
                                value="equipe">Equipe
              </mat-radio-button>
              <mat-radio-button (click)="changeOption('member')" [checked]="selectedOption === 'member'"
                                value="member">Member
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- Equipe selection -->
          <div *ngIf="selectedOption === 'equipe'">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Equipe</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(ngModel)]="selectedEquipe" name="equipe" required required>
                <mat-option *ngFor="let equipe of equipeList" [value]="equipe.id">{{ equipe.nom }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <!-- Member selection -->
          <div *ngIf="selectedOption === 'member'">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Equipe</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(ngModel)]="selectedEquipe2" name="equipe" required>
                <mat-option *ngFor="let equipe of equipeList" [value]="equipe">{{ equipe.nom }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>


          <div *ngIf="selectedOption === 'member' && selectedEquipe2">
            <mat-label class="mat-subtitle-2 f-w-600 d-block m-b-16">Members</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select [(ngModel)]="selectedMembers" multiple name="membres" required required>
                <mat-option *ngFor="let member of selectedEquipe2.adherents"
                            [value]="member.id">{{ member.firstname }} {{ member.lastname }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="d-flex align-items-center justify-content-between">
          <button color="warn" mat-flat-button>
            Back
          </button>
          <button (click)="onSubmit()" [disabled]="!evenementForm.valid" color="primary" mat-flat-button>Finish</button>
        </div>
      </form>
    </div>
  </div>
</div>
