
<div class="justify-center flex mb-10">
<!--  <div class="sm:hidden">-->
<!--    <label for="Tab" class="sr-only">Tab</label>-->

<!--    <select id="Tab" class="w-full rounded-md border-gray-200">-->
<!--      <option>Settings</option>-->
<!--      <option>Messages</option>-->
<!--      <option>Archive</option>-->
<!--      <option select>Notifications</option>-->
<!--    </select>-->
<!--  </div>-->

  <div class="hidden sm:block ">
    <nav class="flex gap-20 border-2 py-1 px-2 rounded-3xl border-second " aria-label="Tabs">
      <button
        [disabled]="isListEvenementActive" routerLink="/apps/listevenement" [routerLinkActive]="'bg-black  py-2 px-5 '" [routerLinkActiveOptions]="{exact: false}" (click)="setActive('listevenement')"
        class="shrink-0 rounded-3xl   px-4  font-bold text-second hover:bg-gray-50 hover:text-black  "
      >
        Evénements
      </button>
      <button
        (click)="setActive('entrainement')" [disabled]="isEntrainementActive" [routerLinkActiveOptions]="{exact: false}"
        [routerLinkActive]="'bg-black   py-2 px-5 '" class="shrink-0  rounded-3xl    px-4  font-bold text-second hover:bg-third hover:text-black  "
        routerLink="/apps/entrainement"
      >
        Entrainement
      </button>
      <button
        [disabled]="isCalendrierActive" routerLink="/apps/calendrier" [routerLinkActive]="'bg-black   py-2 px-5 '"  [routerLinkActiveOptions]="{exact: false}" (click)="setActive('calendrier')"
        class="shrink-0  rounded-3xl    px-4  font-bold text-second hover:bg-third hover:text-black  "
      >
        Calendrier
      </button>


    </nav>
  </div>
</div>



