<mat-card class="cardWithShadow">
    <mat-toolbar class="navbar">
      <button mat-button [disabled]="isListEvenementActive" routerLink="/apps/listevenement" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}" (click)="setActive('listevenement')">Liste d'événements</button>
      <button mat-button [disabled]="isCalendrierActive" routerLink="/apps/calendrier" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: false}" (click)="setActive('calendrier')">Calendrier</button>
    </mat-toolbar>
  </mat-card>
  
  
  






<style>
.navbar {
  display: flex;
  justify-content: center;
  padding: 10px 0; /* Add padding for spacing */
}

.navbar button {
  color: #1976d2; /* Primary color for button text */
  font-weight: bold; /* Button font weight */
  background-color: transparent; /* Transparent background */
  border: 0px solid #1976d2; /* Add border */
  border-radius: 5px; /* Rounded corners */
  padding: 8px 16px; /* Add padding for spacing */
  transition: background-color 0.3s, color 0.3s; /* Add transition effect */
}

.navbar button:hover:not(:disabled),
.navbar button:focus:not(:disabled) {
  background-color: #1976d2; /* Primary color background on hover and focus */
  color: #ffffff; /* White text color on hover and focus */
}

.navbar button:disabled {
  background-color: #e0e0e0; /* Light gray background color when disabled */
  color: #9e9e9e; /* Medium gray text color when disabled */
  cursor: not-allowed; /* Change cursor to not-allowed when disabled */
}

.active-link {
  font-weight: bold;
}



</style>
