@for(blogPost of blogDetail; track blogPost.id) {
<mat-card class="cardWithShadow">
  <img
    mat-card-image
    src="{{ blogPost?.imageUrl }}"
    alt="Photo of a Shiba Inu"
    height="440"
  />
  <div class="card-overlay h-100 d-flex align-items-end justify-content-end">
    <mat-chip class="f-s-12 f-w-600 m-y-16 m-r-16 bg-white"
      >Read</mat-chip
    >
  </div>
  <mat-card-content class="p-24 b-b-1">
    <div class="user-category">
      <div >
        <img src="{{ blogPost?.authorImageUrl }}" class="rounded-circle" width="40" />
        <p class="mat-body-1 m-t-4 f-w-500">{{ blogPost?.author }}</p>
      </div>
      <mat-chip class="f-s-12 m-y-16 f-w-600">{{
        blogPost?.category
      }}</mat-chip>
    </div>

    <mat-card-title class="m-t-16 m-b-24 blog-title"
      >{{ blogPost?.title }}
    </mat-card-title>
    <div class="d-flex align-items-center justify-content-center m-t-24">
      <div class="d-flex align-items-center">
        <span class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center"
          ><i-tabler name="eye" class="icon-18 m-r-4"></i-tabler> {{ blogPost?.publicAudience ? 'Public' : 'Privé' }}</span
        >
        <!-- <span class="f-s-14 mat-subtitle-2 d-flex align-items-center"
          ><i-tabler name="message-2" class="icon-18 m-r-4"></i-tabler>4</span
        > -->
      </div>
      <span class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center">
        <i-tabler name="point" class="icon-14 m-r-4"></i-tabler>
        {{blogPost?.createdAt}}
      </span>
    </div>
  </mat-card-content>
  <mat-card-content class="p-24">
    <div class="p-24">
      <h6 class="mat-body-2 f-w-600">
        <i-tabler name="quote" class="icon-24"></i-tabler> {{blogPost?.subtitle}}
      </h6>
    </div>
    <p class="mat-body-1 m-t-16 f-w-600">
      {{blogPost?.body}}
    </p>

    
<!-- 
    <p class="mat-body-1 m-t-16 f-w-600">This is strong text.</p>
    <p class="mat-body-1 m-t-4 f-w-500"><i>This is italic text.</i></p> -->

    <mat-divider class="m-y-32"></mat-divider>
    
    
  </mat-card-content>
</mat-card>
}