<div class="grid grid-cols-2 gap-24">
  <div class=" ">
    <div class="bg-third   px-8  py-5 rounded-3xl flex justify-center">
      <div class=" w-full">
        <form [formGroup]="form" class="form-section">
        <div class="flex justify-end">
          <button>
            <tabler-icon name="trash" (click)="deleteUser()"></tabler-icon>
          </button>
        </div>
          <div class=" flex justify-center -mt-4">
            <button (click)="fileInput.click()">
              <img
                alt=""
                class="size-24 rounded-full  object-cover" src="{{form.get('photo')?.value|defaultImage: form.get('lastname')?.value:form.get('firstname')?.value:null:'000000'}}">
            </button>
            <input #fileInput (change)="uploadFile($event)" hidden id="photo" name="photo" type="file"/>
          </div>

          <div class="grid grid-cols-2 gap-16 mt-6">
            <div class="col-span-1" *ngIf="userRole === 'ADHERENT' || 'MANAGER' || action==='Add' &&  'Update'">
              <label class="block text-sm font-medium text-gray-400"> Nom </label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="lastname"
                     id="lastname" type="text"/>
            </div>
            <div class="col-span-1" *ngIf="userRole === 'ADHERENT' || 'MANAGER' || action==='Add' &&  'Update'">
              <label class="block text-sm font-medium text-gray-400"> Prénom </label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="firstname"
                     id="firstname" name="firstname" required type="text"/>
            </div>
            <div class="col-span-2" *ngIf="userRole === 'ADHERENT' || 'MANAGER' || action==='Add' &&  'Update'">
              <label class="block text-sm font-medium text-gray-400"> Date de Naissance </label>
              <input (change)="checkAge($event)"
                     class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="dateNaissance" matInput type="date"/>
            </div>
            <div class="col-span-2" *ngIf="userRole === 'ADHERENT' || 'MANAGER' || action==='Add' &&  'Update'">
              <label class="block text-sm font-medium text-gray-400"> Adresse</label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="adresse"
                     type="text"/>
            </div>
            <div class="col-span-2" *ngIf="userRole === 'ADHERENT' || 'MANAGER' || action==='Add' &&  'Update'">
              <label class="block text-sm font-medium text-gray-400"> Email</label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="email"
                     type="email"/>
            </div>
            <div class="col-span-2" *ngIf="userRole === 'ADHERENT' || 'MANAGER' || action==='Add' &&  'Update'">
              <label class="block text-sm font-medium text-gray-400"> Téléphone</label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="telephone"
                     type="number"/>
            </div>
            <div *ngIf="action === 'Add'">
              <label class="block text-sm font-medium text-gray-400">Type de Role</label>
              <select
                (change)="onRoleChange($event)"
                class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent text-black sm:text-sm"
                formControlName="role" id="role" name="role" placeholder="Role">
                <option value="STAFF">Staff</option>
                <option value="ENTRAINEUR">Entraineur</option>
                <option value="ADHERENT">Adherent</option>
              </select>
            </div>

            <div *ngIf="showRoleInput">

              <label class="block text-sm font-medium text-gray-400"> Role </label>
              <select
                class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                formControlName="roleName" id="roleNames" name="roleNames" placeholder="Role" required>
                <option *ngFor="let roleName of roleNames" [value]="roleName">{{ roleName }}</option>
              </select>
            </div>

            <div class="col-span-2" *ngIf="showNiveauScolaire">
              <label class="block text-sm font-medium text-gray-400"> Niveau scolaire </label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="niveauScolaire" id="niveauScolaire" name="niveauScolaire"
                     type="text"/>
            </div>
            <div class="col-span-2">
              <label class="block text-sm font-medium text-gray-400"> Nationalité </label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="nationalite"
                     type="text"/>
            </div>
            <div class="col-sm-12" *ngIf="showEquipeInput">
              <mat-form-field appearance="outline" class="w-100">
                <mat-select formControlName="equipes" multiple required id="equipes" name="equipes" (selectionChange)="onEquipeChange($event)">
                  <mat-option *ngFor="let equipe of equipeList" [value]="equipe.nom">
                    {{ equipe.nom }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            

            <!-- <div *ngIf="showEquipeInput" class="row">

              <label class="block text-sm font-medium text-gray-400"> Equipes </label>
              <select
              (change)="onEquipeChange($event)"
                class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                formControlName="equipes" id="equipes" name="equipes" placeholder="Equipes" required>
                <option *ngFor="let equipe of equipeList" [value]="equipe.nom">
                  {{ equipe.nom }}
                </option>
              </select>
            </div> -->

            <div class="col-span-2 flex justify-center">
              <button
                (click)="doAction()"
                class="px-8 py-2 rounded-3xl font-semibold bg-main hover:bg-mainHover disabled:bg-second text-black">Enregistrer
              </button>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
  <div *ngIf="showParentInfo" class=" ">

    <div class="bg-third   px-8  py-5 rounded-3xl flex justify-center">
      <div class=" w-full">
        <div>
          <div class="hidden sm:block">
            <div class="border-b border-gray-200">
              <nav aria-label="Tabs" class="-mb-px flex justify-center gap-28">


                <a
                  aria-current="page"
                  class="shrink-0 border-b-2 border-main px-1  text-sm font-medium text-black"
                  
                >
                  Info Parents
                </a>

                <a
                  class="shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                  
                >
                  Info Médical
                </a>

                <a
                  class="shrink-0 border-b-2 border-transparent px-1 pb-4 text-sm font-medium text-gray-500 hover:border-gray-300 hover:text-gray-700"
                
                >
                  Info Sportives
                </a>
              </nav>
            </div>
          </div>
        </div>

        <form [formGroup]="form">
          <div formGroupName="informationsParent">
          <div class="grid grid-cols-2 gap-16 mt-6">
            <div class="col-span-1">
              <label class="block text-sm font-medium text-gray-400"> Nom </label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="nomParent"
                     id="nomParent" name="nomParent" type="text"/>
            </div>

            <div class="col-span-1">
              <label class="block text-sm font-medium text-gray-400"> Prénom </label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="prenomParent"
                     id="prenomParent" name="prenomParent"
                     type="text"/>
            </div>
            <div class="col-span-2">
              <label class="block text-sm font-medium text-gray-400"> Adresse</label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="adresseParent" name="adresseParent"
                     type="text"/>
            </div>

            <div class="col-span-2">
              <label class="block text-sm font-medium text-gray-400"> Email</label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="emailParent" name="emailParent"
                     type="email"/>
            </div>
            <div class="col-span-2">
              <label class="block text-sm font-medium text-gray-400"> Téléphone</label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="telephoneParent" name="telephoneParent"
                     type="number"/>
            </div>
            <div class="col-span-2">
              <label class="block text-sm font-medium text-gray-400"> Nationalité</label>
              <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     formControlName="nationaliteParent" name="nationaliteParent" (change)="loggitOut($event)"
                     type="text"/>
            </div>
          </div>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
