
   <!-- add and search tickets -->
   <mat-card class="cardWithShadow no-shadow">
    <mat-card-content class="p-24">
      <div class="row flex justify-center" style="margin-bottom: 20px;">
        <div class="row">
          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="">
              <mat-label>Trier par Membre</mat-label>
              <mat-select [(ngModel)]="selectedSortingOption" (selectionChange)="applySorting()">
                <mat-option *ngFor="let sortingOption of sortingOptions" [value]="sortingOption.value">{{ sortingOption.viewValue }}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>

          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100 hide-hint gray-background">
              <mat-label>Filtrer par équipe</mat-label>
              <mat-select [(ngModel)]="selectedEquipe" (selectionChange)="applyFilterByEquipe()">
                <mat-option *ngFor="let nomEquipe of nomEquipeOptions" [value]="nomEquipe">{{ nomEquipe }}</mat-option>
              </mat-select>
          </mat-form-field>
          </div>

          <div class="col-lg-4">
            <mat-form-field appearance="outline" class="w-100 hide-hint gray-background">
              <mat-label>Filtrer par statut</mat-label>
              <mat-select [(ngModel)]="selectedStatut" (selectionChange)="applyFilterByStatut()">
                <mat-option *ngFor="let statut of statutOptions" [value]="statut">
                  @if(statut==='true'){
                    Bloqué
                  }
                  @else {
                    Activé
                  }
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

        </div>
        <div class="col-lg-1 d-flex align-items-center justify-content-end">
          <button mat-icon-button color="primary" (click)="resetFilters()" style="color: gray;">
           <i-tabler name="refresh"  ></i-tabler>
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


  <!-- table -->
  <div class=" bg-third   rounded-3xl">
    <div class="p-24 bg-third  rounded-3xl">
      <div class="row bg-third justify-content-between">
        <div class="col-lg-6">
          <h2 class="text-black  font-medium text-lg">Liste des utilisateurs</h2>
        </div>
        <div class="col-lg-6 d-flex align-items-center justify-content-end ">
          <div class="relative  ">
            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
              <i-tabler name="search" class="icon-20"></i-tabler>
            </div>
            <input (keyup)="applyFilter($any($event.target).value)" type="text" id="simple-search" 
            class="mr-8  bg-gray-50 border-[0.3px]  rounded-3xl border-gray-300  text-gray-900 text-sm focus:ring-blue-500 focus:border-blue-500 block w-52 h-9 ps-10 p-2.5" 
            placeholder="Rechercher.."   />
          </div>

<!--          <mat-form-field appearance="outline" class="w-50 hide-hint mr-2" style="margin-right: 10px;">-->
<!--            <input matInput  />-->
<!--            <mat-icon matSuffix>-->

<!--            </mat-icon>-->
<!--          </mat-form-field>-->

          <button [queryParams]="{action:'Add',id:0}" [routerLink]="['/apps/staffform']"
                  class="bg-main font-bold rounded-3xl h-9 pt-1 px-1  shadow-md text-white">

            <div class="row ">
              <div class="col-1 ml-2">
                <i-tabler name="plus" class="icon-20"></i-tabler>
              </div>
              <div class="col-1">
                Ajouter
              </div>
            </div>
          </button>
        </div>
      </div>
      <div class="table-responsive gray-background mt-8">

      <table mat-table [dataSource]="dataSource" class="w-100 gray-background">
          <ng-container matColumnDef="photo">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">

             </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
             <img
             class="mat-card"
             [src]="element.photo |defaultImage: element.firstname : element.lastname :'ffffff':'000000'"
             class="rounded-full object-cover m-r-5  cursor-pointer" style=" width: 40px; height: 40px;"
              (click)="openPhotoDialog(element.photo)"
            />
           </td>
          </ng-container>

          <ng-container matColumnDef="firstname">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Nom
            </th>

            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.firstname }} {{element.lastname}}
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
               E-mail
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">{{ element.email }}
            </td>
          </ng-container>

          <ng-container matColumnDef="roleName">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Role
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              @if(element.role === 'ADHERENT'){
                {{element.role}}
              }
              @else {
                {{ element.roleName ? element.roleName : 'Non affecté' }}
              }
            </td>
          </ng-container>

          <ng-container matColumnDef="telephone">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Téléphone
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.telephone }}
            </td>
          </ng-container>

          <ng-container matColumnDef="adresse">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Adresse
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.adresse }}
            </td>
          </ng-container>

          <ng-container matColumnDef="equipe">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Equipe
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.equipes && element.equipes.length > 0 ? element.equipes.join(', ') : 'Non affecté' }}
            </td>
          </ng-container>

          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              Statut
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              @if(element.blocked == '0'){

              <div class="rounded-3xl bg-main text-white font-bold w-20 text-center py-1.5" >
                Activé
              </div>}

              @if(element.blocked == '1'){
              <div class="rounded-3xl bg-fourth  text-white font-bold text-center w-20 py-1.5">
                Bloqué
              </div>}


            </td>
          </ng-container>


          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">

            </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a [queryParams]="{action:'Update',id:element.id}" [routerLink]="['/apps/staffform']"
                 class="m-r-10 cursor-pointer">
                <i-tabler name="edit" class="icon-18"></i-tabler>
              </a>
              <a (click)="openDialog('Block', element)" class="m-r-10 cursor-pointer">
                <i-tabler name="ban" class="icon-18"></i-tabler>
              </a>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

    </div>
  </div>

  <style>
    .text-danger {
      color: red;
    }

    .custom-select {
      /* background color for the select */
      background-color: red;
      /* border color */
      border: 1px solid #cccccc;
      /* border radius */
      border-radius: 4px;
      /* color for the text */
      color: #333333;
      /* font size */
      font-size: 14px;
      /* padding */
      padding: 5px 10px;
    }

    .gray-background {
      background-color: #FAFAFA;
    }

    .no-shadow {
      box-shadow: none;
    }
  </style>
