<h2 mat-dialog-title>{{action}}</h2>

<!-- it was <ng-container *ngIf="action !== 'Delete' && action !== 'Block'">  -->
<ng-container *ngIf="action !== 'Block'">
  <mat-dialog-content *ngIf="action === 'Add' || action ==='Update'" style="max-width: 500px" class="mat-typography m-t-24">
    <form [formGroup]="managerForm">
      <div class="row">
        <div class="col-sm-6 col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <input formControlName="firstname" type="text" matInput required id="firstname" name="firstname"
              placeholder="firstname" />
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <input formControlName="lastname" type="text" matInput required id="lastname" name="lastname"
              placeholder="lastname" />
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <input formControlName="email" type="text" matInput required id="email" name="email"
              placeholder="email" />
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <input formControlName="adresse" type="text" matInput required id="adresse" name="adresse"
              placeholder="adresse" />
          </mat-form-field>
        </div>
        <div class="col-sm-6 col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Role</mat-label>
            <select formControlName="role" matNativeControl required id="role" name="role" placeholder="Role" (change)="onRoleChange($event)">
              <option value="Manager">Manager</option>
              <option value="Staff">Staff</option>
              <option value="Entraineur">Entraineur</option>
              <option value="Adherant">Adherant</option>
              <option value="Parent">Parent</option>
            </select>
            
          </mat-form-field>
        </div>
        
        
        
        
        <div *ngIf="showRoleInput" class="col-sm-6 col-lg-12">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Role</mat-label>
            <select formControlName="roleName" matNativeControl required id="roleName" name="roleName" placeholder="Role">
              <option *ngFor="let roleName of roleNames" [value]="roleName">{{ roleName }}</option>
            </select>
          </mat-form-field>
        </div>


        <div class="col-sm-6 col-lg-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Permissions</mat-label>
              <select formControlName="permissions" matNativeControl required id="Permissions" name="permissions" placeholder="role">
                  <option *ngFor="let permissions of permissions" [value]="permissions">{{ permissions }}</option>
                </select>
                
            </mat-form-field>
          </div>
      </div>
    </form>
  </mat-dialog-content>
</ng-container>

   <!-- case block -->
    <div class="p-x-24 p-b-24">
      <ng-container *ngIf="local_data.blocked; else unblocked">
         <span class="f-w-600"> Sure to unblock</span>
      </ng-container>
      <ng-template #unblocked>
        <span class="f-w-600"> Sure to block </span>
      </ng-template>
    </div>
    
  
<!-- 
<ng-container *ngIf="action === 'Delete'">
  <div class="p-x-24 p-b-24">
    Sure to delete <span class="f-w-600"></span>
  </div>
</ng-container> -->

  <!--case archive-->


<div mat-dialog-actions class="p-24 p-t-0">
  <button mat-flat-button (click)="doAction()" color="primary">
    @if(action === 'Block' && local_data.blocked){
      <span>Unblock</span>
    } 
     @else{
      {{action}}
    }
  </button>
  <button mat-stroked-button color="warn" (click)="closeDialog()">
    Cancel
  </button>
</div>
