<mat-card class="cardWithShadow gray-background">
  <mat-card-content class="p-24">
      <h2>Ajouter des équipes</h2>
      <div *ngFor="let equipe of equipes; let i = index">
          <form #equipeForm="ngForm" (ngSubmit)="onSubmit()">
              <table>
                  <tr>
                      <th>Nom</th>
                      <th>Genre</th>
                      <th>Groupe d'âge</th>
                      <th>Couleur</th>
                      <th>Select discipline</th>
                      <th>Logo</th>
                      <th></th> <!-- Empty header for the delete button -->
                  </tr>
                  <tr>
                      <td>
                          <mat-form-field appearance="outline" class="w-100 hide-hint" style="width: 100%;">
                              <input matInput placeholder="Nom" name="nom" [(ngModel)]="equipe.nom" required
                                  #nom="ngModel">
                          </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field appearance="outline" class="w-100 hide-hint" style="width: 150px;">
                              <mat-label>Select genre</mat-label>
                              <mat-select placeholder="Genre" [(ngModel)]="equipe.genre" name="genre" required
                                  #genre="ngModel">
                                  <mat-option *ngFor="let genre of genres" [value]="genre">
                                      {{ genre }}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field appearance="outline" class="w-100 hide-hint" style="width: 100%;">
                              <input matInput placeholder="Groupe d'âge" name="groupeAge"
                                  [(ngModel)]="equipe.groupeAge" required #groupeAge="ngModel">
                          </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field appearance="outline" class="w-100 hide-hint" style="width: 130px;">
                              <input matInput type="color" placeholder="Couleur" name="couleur"
                                  [(ngModel)]="equipe.couleur" required #couleur="ngModel">
                          </mat-form-field>
                      </td>
                      <td>
                          <mat-form-field appearance="outline" class="w-100 hide-hint" style="width: 175px;">
                              <mat-label>Select discipline</mat-label>
                              <mat-select placeholder="Discipline" [(ngModel)]="equipe.discipline" name="discipline"
                                  required #discipline="ngModel">
                                  <mat-option *ngFor="let discipline of disciplines" [value]="discipline">
                                      {{ discipline.nom }}
                                  </mat-option>
                              </mat-select>
                          </mat-form-field>
                      </td>
                      <td>
                          <div class="custom-file-upload">
                              <label for="logo-{{i}}" class="file-upload-label">
                                  <mat-icon>image</mat-icon><span>Upload Logo</span>
                                  <input type="file" id="logo-{{i}}" name="logo" (change)="uploadFile($event, equipe)"
                                      #fileInput />
                              </label>
                          </div>
                      </td>
                      <td>
                          <button mat-icon-button color="warn" (click)="removeEquipeForm(i)"
                              *ngIf="equipes.length > 1">
                              <mat-icon>delete_outline</mat-icon>
                          </button>
                      </td>
                  </tr>
                  <tr>
                      <td>
                          <div
                              *ngIf="equipeForm.controls['nom'].invalid && (equipeForm.controls['nom'].dirty || equipeForm.controls['nom'].touched)">
                              <span class="error-message">Le nom est requis</span>
                          </div>
                      </td>
                      <td>
                          <div
                              *ngIf="equipeForm.controls['genre'].invalid && (equipeForm.controls['genre'].dirty || equipeForm.controls['genre'].touched)">
                              <span class="error-message">Veuillez sélectionner un genre</span>
                          </div>
                      </td>
                      <td>
                          <div
                              *ngIf="equipeForm.controls['groupeAge'].invalid && (equipeForm.controls['groupeAge'].dirty || equipeForm.controls['groupeAge'].touched)">
                              <span class="error-message">Veuillez saisir un groupe d'âge</span>
                          </div>
                      </td>
                      <td>
                          <div
                              *ngIf="equipeForm.controls['couleur'].invalid && (equipeForm.controls['couleur'].dirty || equipeForm.controls['couleur'].touched)">
                              <span class="error-message">Veuillez choisir une couleur</span>
                          </div>
                      </td>
                      <td>
                          <div
                              *ngIf="equipeForm.controls['discipline'].invalid && (equipeForm.controls['discipline'].dirty || equipeForm.controls['discipline'].touched)">
                              <span class="error-message">Veuillez sélectionner une discipline</span>
                          </div>
                      </td>
                  </tr>
              </table>
          </form>
          <!-- Track the forms for validation -->
          <ng-container *ngIf="forms.push(equipeForm)"></ng-container>
      </div>
      <button mat-raised-button color="accent" (click)="addEquipeForm()"
          style="margin-right: 10px; margin-top: 10px; margin-left: 3px; background-color: #7B7B7B;">
          <mat-icon>add</mat-icon> Ajouter un autre formulaire
      </button>
      <button mat-raised-button color="primary" (click)="onSubmit()"
          [disabled]="!areAllFormsValid() || uploadingImage" style="margin-top: 10px;">
          <span *ngIf="uploadingImage">Uploading Logo...</span>
          <span *ngIf="!uploadingImage">Ajouter</span>
      </button>
  </mat-card-content>
</mat-card>


<style>
  .error-message {
      color: #ff0000;
      /* Red color for error messages */
      font-size: 12px;
      /* Adjust font size */
      font-style: italic;
      /* Italics */
      margin-top: 4px;
      /* Adjust spacing from the field */
  }

  .gray-background {
      background-color: #FAFAFA;
      /*testing color blue: 0000FF*/
  }

  .custom-file-upload {
      display: inline-block;
      position: relative;
  }

  .file-upload-label {
      display: inline-block;
      padding: 8px 12px;
      background-color: #B7EE3E;
      color: #fff;
      border-radius: 4px;
      cursor: pointer;
  }

  .file-upload-label span {
      vertical-align: middle;
  }

  /* Hide the actual file input */
  input[type="file"] {
      display: none;
  }

  .custom-file-upload .file-upload-label {
      display: flex;
      align-items: center;
      /* Align items vertically */
  }

  .custom-file-upload .file-upload-label mat-icon {
      margin-right: 8px;
      /* Adjust the spacing between the icon and the text */
  }
</style>