<mat-card class="cardWithShadow gray-background">
    <mat-card-content class="p-24">
        <div class="row justify-content-between" style="margin-bottom: 20px;">
            <div class="col-lg-3">
                <mat-form-field appearance="outline" class="w-100 hide-hint gray-background">
                    <mat-label>Trier par Equipe</mat-label>
                    <mat-select [(ngModel)]="selectedSortingOption" (selectionChange)="applySorting()">
                        <mat-option *ngFor="let sortingOption of sortingOptions" [value]="sortingOption.value">{{
                            sortingOption.viewValue }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100 hide-hint gray-background">
                    <mat-label>Filtrer par genre</mat-label>
                    <mat-select [(ngModel)]="selectedGenreEquipe" (selectionChange)="applyFilterByGenreEquipe()">
                        <mat-option *ngFor="let genre of genreEquipeOptions" [value]="genre">{{ genre }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-4">
                <mat-form-field appearance="outline" class="w-100 hide-hint gray-background">
                    <mat-label>Filtrer par discipline</mat-label>
                    <mat-select [(ngModel)]="selectedDiscipline" (selectionChange)="applyFilterByDiscipline()">
                        <mat-option *ngFor="let discipline of disciplines" [value]="discipline.nom">{{ discipline.nom
                            }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-lg-1 d-flex align-items-center justify-content-end">
                <button mat-icon-button color="primary" (click)="resetFilters()" style="color: gray;">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
        </div>
    </mat-card-content>
    <mat-card-content class="p-24">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2>Liste des equipes</h2>
            </div>
            <div class="col-lg-6 d-flex align-items-center justify-content-end">
                <mat-form-field appearance="outline" class="w-50 hide-hint mr-2" style="margin-right: 10px;">
                    <input matInput placeholder="Search Equipe" (keyup)="applyFilter($any($event.target).value)" />
                    <mat-icon matSuffix>
                        <i-tabler name="search" class="icon-20"></i-tabler>
                    </mat-icon>
                </mat-form-field>
                <button class="bg-main font-bold rounded-3xl h-9 pt-1 shadow-md text-white" (click)="navigateToAddEquipe()">
                    <div class="row">
                      <div class="col-1 ml-2">
                        <i-tabler name="plus" class="icon-20"></i-tabler>
                      </div>
                      <div class="col-1">
                        Ajouter
                      </div>
                    </div>
                  </button>                  
            </div>
        </div>

        <div class="table-responsive ">
            <table mat-table [dataSource]="dataSource" class="w-100 gray-background">
                <!-- Column definitions -->

                <!-- Column: logo -->
                <ng-container matColumnDef="logo">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Logo</th>
                    <td mat-cell *matCellDef="let element">
                        <img [src]="element.logo" alt="Logo" width="40" />
                    </td>
                </ng-container>

                <!-- Column: nom -->
                <ng-container matColumnDef="nom">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Nom</th>
                    <td mat-cell *matCellDef="let element" class="f-w-600 mat-subtitle-1 f-s-16 m-t-0">
                        {{ element.nom }}
                    </td>
                </ng-container>

                <!-- Column: type -->
                <ng-container matColumnDef="genre">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Genre</th>
                    <td mat-cell *matCellDef="let element">{{ element.genre }}</td>
                </ng-container>

                <!-- Column: discipline -->
                <ng-container matColumnDef="discipline">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Discipline</th>
                    <td mat-cell *matCellDef="let element">{{ element.discipline.nom }}</td>
                </ng-container>



                <!-- Column: type -->
                <ng-container matColumnDef="groupAge">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Groupe d'age</th>
                    <td mat-cell *matCellDef="let element">{{ element.groupeAge }}</td>
                </ng-container>

                <!-- Column: type -->
                <ng-container matColumnDef="couleur">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Couleur</th>
                    <td mat-cell *matCellDef="let element">
                        <div [style.backgroundColor]="element.couleur" style="width: 20px; height: 20px;"></div>
                    </td>
                </ng-container>

                <!-- Column: codeEquipe -->
                <ng-container matColumnDef="codeEquipe">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Code Equipe</th>
                    <td mat-cell *matCellDef="let element">{{ element.codeEquipe }}</td>
                </ng-container>

                <!-- Column: adherents -->
                <ng-container matColumnDef="adherents">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Adherents</th>
                    <td mat-cell *matCellDef="let equipe">
                        <button mat-icon-button (click)="showAdherentsPopup(equipe.adherents, equipe.id)">
                            <mat-icon>group</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Column: Add Member -->
                <ng-container matColumnDef="addMember">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Add Member</th>
                    <td mat-cell *matCellDef="let equipe">
                        <button mat-icon-button (click)="openAddMemberPopup(equipe)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Column: entraineurs -->
                <ng-container matColumnDef="entraineurs">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Entraineurs</th>
                    <td mat-cell *matCellDef="let equipe">
                        <button mat-icon-button (click)="showEntraineursPopup(equipe.entraineurs, equipe.id)">
                            <mat-icon>sports_coach</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Column: Add Entraineur -->
                <ng-container matColumnDef="addEntraineur">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Add Entraineur</th>
                    <td mat-cell *matCellDef="let equipe" (click)="openAddEntraineurPopup(equipe)">
                        <button mat-icon-button>
                            <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </ng-container>



                <!-- Column: action -->
                <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Action</th>
                    <td mat-cell *matCellDef="let equipe">
                        <button mat-icon-button color="warn" (click)="onDeleteEquipe(equipe.id)">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                        <button mat-icon-button style="color: gray;" (click)="openUpdateDialog(equipe)">
                            <mat-icon>edit</mat-icon>
                        </button>
                    </td>
                </ng-container>


                <!-- Table rows -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons class="gray-background"></mat-paginator>
        </div>
    </mat-card-content>
</mat-card>

<style>
    .error-message {
        color: #ff0000;
        /* Red color for error messages */
        font-size: 12px;
        /* Adjust font size */
        font-style: italic;
        /* Italics */
        margin-top: 4px;
        /* Adjust spacing from the field */
    }

    .gray-background {
        background-color: #FAFAFA;
        /*testing color blue: 0000FF*/
    }

    .custom-file-upload {
        display: inline-block;
        position: relative;
    }

    .file-upload-label {
        display: inline-block;
        padding: 8px 12px;
        background-color: #B7EE3E;
        color: #fff;
        border-radius: 4px;
        cursor: pointer;
    }

    .file-upload-label span {
        vertical-align: middle;
    }

    /* Hide the actual file input */
    input[type="file"] {
        display: none;
    }

    .custom-file-upload .file-upload-label {
        display: flex;
        align-items: center;
        /* Align items vertically */
    }

    .custom-file-upload .file-upload-label mat-icon {
        margin-right: 8px;
        /* Adjust the spacing between the icon and the text */
    }
</style>