<div class="row ">
  @if(PostsService.blogPosts.length === 0) {
    <div class="col-12">
      <mat-card class="cardWithShadow card2 position-relative card-hover featured-card overflow-hidden cursor-pointer">
        <img mat-card-image src="assets/images/blog/defaultPostImage.jpg" alt="Default Image" />
        <div class="featured-overlay h-100 p-24 d-flex flex-column align-items-end justify-content-start">
          <div class="m-t-auto w-100">
            <mat-card-title class="mat-headline-5 text-white">Aucun poste n'est disponible dans votre académie.</mat-card-title>
            <div class="d-flex align-items-center justify-content-center m-t-24 text-white">
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  } @else {
  @for(blogPost of PostsService.blogPosts; track blogPost.id) {
  
  <div class="col-sm-6 col-lg-4 ">
    <mat-card
      class="cardWithShadow card2 position-relative card-hover cursor-pointer gray-background"
      (click)="selectBlog(blogPost.id)"
    >
      
   
        <img
        mat-card-image class="post-card-image"
        src="{{ blogPost.imageUrl }}"
        alt="Photo of a Shiba Inu"
       
      />

      <div
        class="card-overlay h-100 d-flex p-16 p-y-0 justify-content-end align-items-start"
      >

      
        <mat-chip class="f-s-12 m-y-16 f-w-600 bg-white">{{
          blogPost.category
        }}</mat-chip>
       
      </div>

      <mat-card-content class="p-y-24">
        <div class="user-category">
          <div>
            <img src="{{ blogPost.authorImageUrl }}" class="rounded-circle" width="40" />
          </div>
        </div>
        <mat-card-title class="mat-headline-6 m-t-15 mat-card-title ">{{
          blogPost.title
        }}</mat-card-title>
        <div class="d-flex align-items-center justify-content-center m-t-24">
          <div class="d-flex align-items-center">
            <span class="m-r-12 f-s-14 mat-subtitle-2 d-flex align-items-center"
              ><i-tabler name="eye" class="icon-18 m-r-4"></i-tabler
              > {{ blogPost.publicAudience ? 'Public' : 'Privé' }}</span
            >
            <span class="f-s-14 mat-subtitle-2 d-flex align-items-center"
              ><i-tabler name="message-2" class="icon-18 m-r-4"></i-tabler
              >{{ blogPost.comments }}</span
            >
          </div>
          <span
            class="m-l-auto f-s-14 mat-subtitle-2 d-flex align-items-center"
          >
            <i-tabler name="point" class="icon-14 m-r-4"></i-tabler>
            {{ blogPost.createdAt }}
          </span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  } 
}
</div>
