<h2 mat-dialog-title>
  Nouveau Message
</h2>
<mat-dialog-content style="width: 800px" class="mat-typography p-24">
  <form #postForm="ngForm">
    
        <div class="row">  
          <div class="col-sm-2 col-lg-4">  
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Filter by Role</mat-label>
              <mat-select [(ngModel)]="selectedRole" name="role" (selectionChange)="onRoleChange()">
                <mat-option *ngFor="let role of uniqueRoles" [value]="role">{{ role }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    
          <div  class="col-sm-2 col-lg-4">
            <mat-form-field  appearance="outline" class="w-100">
              <mat-label>Filter by Equipe</mat-label>
              <mat-select [(ngModel)]="selectedNomEquipe" name="nomEquipe" [disabled]="selectedRole !== 'ADHERENT'" (selectionChange)="onNomEquipeChange()">
                <mat-option *ngFor="let nomEquipe of uniqueNomEquipes"  [value]="nomEquipe">{{ nomEquipe }}</mat-option>
              </mat-select>
              
            </mat-form-field>
          </div>
          <div  class="col-sm-2 col-lg-4">
          <button mat-button [disabled]="selectedRole !== 'ADHERENT'" (click)="selectAllTeamMembers()">Sélectionner toute l'équipe</button>
          </div>
          
        </div>
        <h3> Selectionner Au Moins Un Contact</h3>
          <!-- <ul>
            <li *ngFor="let friend of getSelectedFriends()">{{ friend.firstname }} {{ friend.lastname }}</li>
          </ul>  -->

    <div *ngFor="let friend of filteredFriendsList">
      <mat-checkbox [checked]="isSelected(friend)" (change)="toggleSelection(friend)">
        {{ friend.firstname }} {{ friend.lastname }} - {{ friend.role }} - {{ friend.nomEquipe }}
      </mat-checkbox>
    </div>
    
  </form>
</mat-dialog-content>

<div mat-dialog-actions class="p-24 p-t-0">
  <div class="col-sm-12 col-lg-12 gray-background">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Message</mat-label>
      <input matInput placeholder="Ajouter message" [(ngModel)]="local_data.msg" name="msg" required />
      <button mat-icon-button matSuffix color="primary" [disabled]="!local_data.msg || !local_data.receiver" (click)="doAction()">
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <button mat-flat-button (click)="doAction()" color="primary" [disabled]="!local_data.receiver || !local_data.msg">
    {{ action }}
  </button>
  <button mat-stroked-button color="warn" (click)="closeDialog()">
    Annulé
  </button>
</div>
