<!-- table -->
<div class=" bg-third   rounded-3xl">
  <div class="p-24 bg-third  rounded-3xl">
    <div class="row justify-content-between align-items-center mb-4">
      <div class="col-lg-6">
        <h2 class="text-black font-medium text-lg">Liste des roles</h2>
      </div>
      <div class="col-lg-6 d-flex align-items-center justify-content-end">
        <div class="relative  ">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <i-tabler name="search" class="icon-20"></i-tabler>
          </div>
          <input (keyup)="applyFilter($any($event.target).value)" class="mr-8  bg-gray-50 border-[0.3px]  rounded-3xl border-gray-300  text-gray-900 text-sm    focus:ring-blue-500 focus:border-blue-500 block w-52 h-9 ps-10 p-2.5  " id="simple-search"
                 placeholder="Rechercher.."
                 type="text"/>
        </div>
        <button (click)="openDialog('Add', {})" class="bg-main font-bold rounded-3xl h-9 pt-1 shadow-md  shadow-md text-white">
          <div class="row ">
            <div class="col-1 ml-2">
              <i-tabler name="plus" class="icon-20"></i-tabler>
            </div>
            <div class="col-1">
              Ajouter
            </div>
          </div>
        </button>
      </div>
    </div>

    <div class="table-responsive gray-background">
      <table mat-table [dataSource]="dataSource" class="w-100 gray-background">
        <ng-container matColumnDef="roleName">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Role
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="permissions">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 text-center">
            Permissions
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14 text-center">
            {{ element.permissions }}
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600 text-right">
            Action
          </th>
          <td mat-cell *matCellDef="let element" class="action-link text-right">
            <a (click)="openDialog('Update', element)" class="m-r-10 cursor-pointer">
              <i-tabler name="edit" class="icon-18"></i-tabler>
            </a>
            <a (click)="openDialog('Delete', element)" class="m-r-10 cursor-pointer">
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </div>
</div>

<style>
  .gray-background {
    background-color: #FAFAFA;
  }

  .no-shadow {
    box-shadow: none;
  }

  .f-s-16 {
    font-size: 16px;
  }

  .f-w-600 {
    font-weight: 600;
  }

  .f-s-14 {
    font-size: 14px;
  }

  .m-r-10 {
    margin-right: 10px;
  }

  .mr-2 {
    margin-right: 0.5rem;
  }

  .ml-2 {
    margin-left: 0.5rem;
  }

  .mb-4 {
    margin-bottom: 1.5rem;
  }

  .p-4 {
    padding: 1.5rem;
  }

  .pt-1 {
    padding-top: 0.25rem;
  }



</style>
