<div class="card h-full bg-third px-4 py-2 rounded-3xl ">
  <div class="p-t-32">
    <mat-card-subtitle class="mat-body-1 p-b-4">Adhérents</mat-card-subtitle>
    <h5 class="mat-subtitle-1 m-t-4 f-w-600">213</h5>
  </div>
  <apx-chart
    [series]="productChart.series"
    [chart]="productChart.chart"
    [plotOptions]="productChart.plotOptions"
    [tooltip]="productChart.tooltip"
    [stroke]="productChart.stroke"
    [markers]="productChart.markers"
    [fill]="productChart.fill"
  ></apx-chart>
</div>
