<h2 mat-dialog-title>{{action}}</h2>

@if(action !== 'Supprimer') {
<mat-dialog-content style="max-width: 600px" class="mat-typography m-t-24">
  <form #postForm="ngForm">
    <div class="row">
      <div class="col-sm-6 col-lg-12">
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="title"
            name="title"
            [(ngModel)]="local_data.title"
            placeholder="Ajouter Un Titre"
          />
        </mat-form-field>
      </div>
     
      <div class="col-sm-6 col-lg-12">
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="subtitle"
            name="subtitle"
            [(ngModel)]="local_data.subtitle"
            placeholder="Ajouter Un Sous Titre"
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-12">
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            id="body"
            name="body"
            [(ngModel)]="local_data.body"
            placeholder="Ajouter Une Publication "
          />
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Discipline</mat-label>
          <mat-select  matNativeControl   required  name="Catégorie" [(ngModel)]="local_data.category"
          >
          <mat-option *ngFor="let discipline of disciplines" [value]="discipline.nom">
            {{ discipline.nom }}
        </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-6 col-lg-12">
        <mat-form-field appearance="outline" class="w-100">
          <mat-label>Visibilité</mat-label>
          <mat-select
            matNativeControl
            required
            name="PublicAudience"
            [(ngModel)]="local_data.publicAudience"
            required
          >
            <mat-option [value]="0">Privé</mat-option>
            <mat-option [value]="1">Public</mat-option>
          </mat-select>
          
           
        
        </mat-form-field>
      </div>


      <div class="col-sm-6 col-lg-12 align-items-center">
        <div class="custom-file-upload">
          <label for="logo" class="file-upload-label">
            <mat-icon>image</mat-icon>
            <span>Choisir Une Image</span>
            <input type="file" id="logo" name="logo" (change)="uploadFile($event)" #fileInput />
          </label>
          <img
              class="mat-card preview-image "
              [src]="local_data.imageUrl"
              *ngIf="local_data.imageUrl; else noImage"
              width="100%"
              object-fit="cover"
            />
            <ng-template #noImage>
              <p class="preview-image">Aucune image sélectionnée.</p>
            </ng-template>
        </div>
      </div>
      
    </div>
  </form>
</mat-dialog-content>
} @else {
<div class="p-x-24 p-b-24">
  Confirmez-vous la suppression ? <span class="f-w-600">{{local_data.title}}</span>?
</div>
}

<div mat-dialog-actions class="p-24 p-t-0">
  <button mat-flat-button (click)="doAction()" color="primary" [disabled]="!local_data.title || !local_data.subtitle || !local_data.body || !local_data.category || uploadingImage || local_data.publicAudience == null">
    
    <span *ngIf="uploadingImage">Chargement Image...</span>
    <span *ngIf="!uploadingImage">{{action}}</span>
  </button>
   
  <button mat-stroked-button color="warn" (click)="closeDialog()">
    Annulé
  </button>
</div>
<style>
  .error-message {
    color: #ff0000;
    font-size: 12px;
    font-style: italic;
    margin-top: 4px;
  }

  .gray-background {
    background-color: #FAFAFA;
  }

  .custom-file-upload {
    display: flex;
    align-items: center;
    margin: 24px;
  }

  .file-upload-label {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    background-color: #B7EE3E;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }

  .file-upload-label span {
    margin-left: 8px;
  }

  input[type="file"] {
    display: none;
  }

  .preview-image {
    margin-left: 16px;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
</style>