<div mat-dialog-title>
  <i-tabler (click)="closeDialog()" class="hover:cursor-pointer" name="arrow-left"></i-tabler>
</div>


<!-- Check if action is not 'Delete' -->
<ng-container *ngIf="action !== 'Delete'">
    <form #disciplineForm="ngForm">

      <div mat-dialog-content class="pt-12 pb-4"  >
        <div class="row">
          <div class="col flex justify-center">
            <h1 class="text-xl text-black text-center">Ajouter une discipline</h1>
          </div>
        </div>
        <div class="grid grid-cols-1 mt-8 gap-8">
          <div >

            <label  class="block text-sm font-medium text-gray-900"> Nom </label>
            <input type="text"   required id="nom" name="nom" [(ngModel)]="local_data.nom" placeholder="Nom"
                   class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"/>
          </div>
          <div >

            <label   class="block text-sm font-medium text-gray-900"> Description </label>
            <input type="text" matInput id="description" name="description" [(ngModel)]="local_data.description"
                   placeholder="Description"
                   class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"/>
          </div>
        </div>
        <div  class=" flex justify-center mt-4">
          <button   class="bg-main font-bold rounded-3xl h-9 px-5 py-2    text-black"  (click)="doAction()">Confirmer</button>
        </div>

      </div>
    </form>
</ng-container>

<!-- Display delete confirmation if action is 'Delete' -->
<ng-container *ngIf="action === 'Delete'">
<div class="mt-24">
  <div  class=" text-xl text-center flex justify-center mt-4">
    <p>Voulez vous vraiment supprimer <span class="f-w-600">{{local_data.nom}}</span> ?</p>
  </div>

  <div  class=" flex justify-center mt-4">
    <button   class="bg-main font-bold rounded-3xl h-9 px-5 py-2    text-black"  (click)="doAction()">Confirmer</button>
  </div>

</div>

</ng-container>
