<app-navbar></app-navbar>

<div class="d-flex">
    <div class="col-lg-9">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
    <div class="col-lg-3">
        <!-- Add Date Filter UI with Calendar and Clear Button -->
        <mat-card [ngClass]="{'smallerContent': !showCheckboxes2}" class="cardWithShadow gray-background">
            <mat-card-content class="p-24">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Filtre par date</h3>
                    <button mat-icon-button (click)="toggleCalendarVisibility()">
                        <mat-icon>{{ showCalendar ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
                <div *ngIf="showCalendar">
                    <mat-calendar [(selected)]="selectedDate" (selectedChange)="applyDateFilter($event)"></mat-calendar>
                    <button mat-button color="warn" *ngIf="selectedDate" (click)="clearDateFilter()">Clear</button>
                </div>
            </mat-card-content>
        </mat-card>


        <mat-card [ngClass]="{'smallerContent': !showCheckboxes1}" class="cardWithShadow gray-background">
            <mat-card-content class="p-24">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Filtre par evenement</h3>
                    <button mat-icon-button (click)="toggleCheckboxesVisibility1()">
                        <mat-icon>{{ showCheckboxes1 ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
                <div *ngIf="showCheckboxes1">
                    <div *ngFor="let eventType of typeEventsFilter">
                        <mat-checkbox (change)="applyFilterByType(eventType)"
                            [checked]="selectedEventTypes.includes(eventType)">
                            {{ eventType }}
                        </mat-checkbox>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card [ngClass]="{'smallerContent': !showCheckboxes2}" class="cardWithShadow gray-background">
            <mat-card-content class="p-24">
                <div class="d-flex justify-content-between align-items-center">
                    <h3>Filtre par equipe</h3>
                    <button mat-icon-button (click)="toggleCheckboxesVisibility2()">
                        <mat-icon>{{ showCheckboxes2 ? 'expand_less' : 'expand_more' }}</mat-icon>
                    </button>
                </div>
                <div *ngIf="showCheckboxes2">
                    <div *ngFor="let equipe of equipes">
                        <mat-checkbox (change)="applyFilterByEquipe(equipe.nom)"
                            [checked]="selectedTeams.includes(equipe.nom)">
                            {{ equipe.nom }}
                        </mat-checkbox>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>


<style>
    .gray-background {
        background-color: #FAFAFA;
        /*testing color blue: FAFAFA 0000FF*/
    }
</style>