<div mat-dialog-title>
  <button mat-button mat-dialog-close>
    <i-tabler class="hover:cursor-pointer" name="arrow-left"></i-tabler>
  </button>
</div>
<div class="pt-12 pb-4" mat-dialog-content>
  <div class="row">
    <div class="col flex justify-center">
      <h1 class="text-xl text-black text-center">Evenement</h1>
    </div>
  </div>
  <div class="row mt-8 w-full">
    <div class="col flex justify-center">
      <div class="dialog-content w-full">
        <div *ngIf="evenement.heure !== null" class="w-full bg-third rounded-3xl px-4 py-2 ">
          <h1 class="text-black text-lg font-medium">{{ formatEnumValue(evenement.type) | titlecase }} </h1>
          <p>Nom: {{ evenement.nomEvent }} </p>
          <p>Date:  {{ evenement.date }} {{ evenement.heure.slice(0, 5) }}</p>
          <p>Lieu:  {{ evenement.lieu }}</p>
          <p>Equipe: {{ evenement.convocationEquipe?.nom }} </p>
          <p>Statut: {{ evenement.statut }}</p>
        </div>
        <div *ngIf="evenement.heure !== null" class="w-full bg-third rounded-3xl px-4 py-2 mt-5 ">
          <h1 class="text-black text-lg font-medium">Members</h1>
          <div class="grid grid-cols-2 mt-4">
            <div *ngFor="let member of evenement.convocationMembres">
              <div class="row">
                <div class="col-2">
                  <img [src]="member.photo |defaultImage: member.firstname : member.lastname :'ffffff':'000000'"
                       alt="Logo" width="80"/>
                </div>
                <div class="col">
                  {{ member.firstname }} {{ member.lastname }}
                </div>
                <div class="col-1">

                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<style>
    .evenement-dialog {
        padding: 20px;
        border-radius: 5px;
        background-color: rgba(248, 249, 250, 0.9);
    }

    .mat-dialog-container {
        background: rgba(0, 0, 0, 0.5) !important;
        /* Adjust the alpha value for transparency */
    }

    .dialog-title {
        font-weight: bold;
        color: #333;
        margin-bottom: 7px;
    }


    .evenement-table {
        width: 100%;
        border-collapse: collapse;
    }

    .evenement-table th,
    .evenement-table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .evenement-table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .evenement-item td:first-child {
        font-weight: bold;
    }

    .close-button {
        background-color: #B7EE3E;
        color: #fff;
        font-weight: bold;
        border-radius: 5px;
        padding: 8px 16px;
    }

    .close-button:hover {
        background-color: #B7EE3E;
    }
</style>
