<div class="bg-third rounded-3xl py-4 ">

  <div>
    <div class="hidden sm:block">
      <div class=" ">
        <nav aria-label="Tabs" class="-mb-px flex justify-center gap-28">


          <button
            (click)="changeStep(1)"
            aria-current="page"
            class="shrink-0   px-1 rounded-sm  text-lg font-medium "
            [ngClass]="{
              'border-main':numStep === 1,
              'border-b-4':numStep === 1,
              'text-black':numStep === 1,
              'text-gray-500': numStep !== 1,
              'hover:border-gray-300': numStep !== 1,
              'hover:text-gray-700': numStep !== 1,
              'border-transparent': numStep !== 1,
            }"
          >
            Abonnement
          </button>

          <button
            disabled

            (click)="changeStep(2)" class="shrink-0   px-1 rounded-sm  text-lg font-medium "
            [ngClass]="{
              'border-main':numStep === 2,
              'border-b-4':numStep === 2,
              'text-black':numStep === 2,
              'text-gray-500': numStep !== 2,
              'hover:border-gray-300': numStep !== 2,
              'hover:text-gray-700': numStep !== 2,
              'border-transparent': numStep !== 2,
            }"

          >
            Historique
          </button>

          <button
            disabled

            (click)="changeStep(3)"
            class="shrink-0   px-1 rounded-sm  text-lg font-medium "
            [ngClass]="{
              'border-main':numStep === 3,
              'border-b-4':numStep === 3,
              'text-black':numStep === 3,
              'text-gray-500': numStep !== 3,
              'hover:border-gray-300': numStep !== 3,
              'hover:text-gray-700': numStep !== 3,
              'border-transparent': numStep !== 3,
            }"
          >

            Détails du Membre
          </button>
        </nav>
      </div>
    </div>
  </div>
  <div  class="flex justify-center mt-8">
    <!-- Form fields for updating payment attributes -->
    <div class=" w-[60%]">
      @if(numStep === 1){
        <div class="grid grid-cols-2 gap-16 mt-6">
          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Membre </label>
            <select  [(ngModel)]="paiement.adherent"  class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                     name="adherent"   (change)="onMemberSelectionChange()" required
                     type="text">
              <option *ngFor="let member of members" [value]="member">{{ member.firstname }} {{ member.lastname }}</option>
            </select>
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.adherent === null || paiement.adherent === undefined">   L'adherent doit être saisie.</p>-->
          </div>

          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Type Abonnement </label>
            <select class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                    [(ngModel)]="paiement.typeAbonnement" (change)="getDateFin()" required
            >
              <option *ngFor="let type of typeAbonnements" [value]="type">{{ getTypeAbonnementName(type) }}</option>
            </select>
            <!--        <p class="text-sm text-red-600"  *ngIf="paiement.typeAbonnement === null || paiement.typeAbonnement === undefined">
                Le type abonnement doit être saisie.</p>-->
          </div>

          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Date Début </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Date Début" [(ngModel)]="paiement.dateDebut" required type="date"/>
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.dateDebut === null || paiement.dateDebut === undefined">
                La date debut doit être saisie.</p>-->
          </div>

          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Date Fin </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   [(ngModel)]="paiement.dateFin" required  type="date"/>
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.dateFin === null || paiement.dateFin === undefined">
                La date fin doit être saisie.</p>-->
          </div>
          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Date Paiement </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Date Paiement" [(ngModel)]="paiement.datePaiement" required  type="date"/>
            <!--        <p class="text-sm text-red-600"   *ngIf="paiement.datePaiement === null || paiement.datePaiement === undefined">
                La date paiement doit être saisie.</p>-->
          </div>


          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Montant </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Montant" type="number" [(ngModel)]="paiement.montant" name="montant" min="0" required />
            <!--        <p class="text-sm text-red-600"  *ngIf="paiement.montant !== undefined && paiement.montant < 0">
                Le montant doit être positif..</p>-->
          </div>

          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Reste </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Reste" type="number" [(ngModel)]="paiement.reste" name="reste" min="0" />
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.reste < 0">
                Le reste doit être positif.</p>-->
          </div>
          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Remarque </label>
            <textarea [(ngModel)]="paiement.remarque" placeholder="Remarque"
                      class="mt-1.5 h-18 px-4  w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                      rows="4"></textarea>
            <!--        <p class="text-sm text-red-600"  *ngIf="paiement.typeAbonnement === null || paiement.typeAbonnement === undefined">
                Le type abonnement doit être saisie.</p>-->
          </div>
          <div class="col-span-2 flex justify-center">
            <button
              (click)="onSaveClick()" [disabled]="!isFormValid()"
              class="px-8 py-2 rounded-3xl font-semibold bg-main hover:bg-mainHover disabled:bg-second text-black">Enregistrer
            </button>
          </div>

        </div>
      }
      @if(numStep == 2 ){
          <table class="w-full       text-sm">
            <thead class="ltr:text-left rtl:text-right">
            <tr class="bg-second ">
              <th class="whitespace-nowrap px-8 py-3 font-medium text-black rounded-tl-xl rounded-bl-xl">   Date de Paiement</th>
              <th class="whitespace-nowrap px-8 py-3 font-medium text-black">Retard de Paiement</th>
              <th class="whitespace-nowrap px-8 py-3 font-medium text-black">     Montant payé</th>
              <th class="whitespace-nowrap px-8 py-3 font-medium text-black rounded-tr-xl rounded-br-xl">  Reste<<<<<<<<< à payer</th>
            </tr>
            </thead>

            <tbody class=" ">
            <tr >
              <td class="whitespace-nowrap px-8 py-4   text-black">John Doe</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">24/05/1995</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">Web Developer</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">$120,000</td>
            </tr>
            <tr>
              <td class="whitespace-nowrap px-8 py-4   text-black">John Doe</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">24/05/1995</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">Web Developer</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">$120,000</td>
            </tr>
            <tr>
              <td class="whitespace-nowrap px-8 py-4   text-black">John Doe</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">24/05/1995</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">Web Developer</td>
              <td class="whitespace-nowrap px-8 py-4 text-black">$120,000</td>
            </tr>
            </tbody>
          </table>
      }
      @if(numStep === 3){
        <div class="grid grid-cols-2 gap-16 mt-6">

          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Nom </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Date Paiement" [(ngModel)]="paiement.datePaiement" required  type="date"/>
            <!--        <p class="text-sm text-red-600"   *ngIf="paiement.datePaiement === null || paiement.datePaiement === undefined">
                La date paiement doit être saisie.</p>-->
          </div>

          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> E-mail</label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Date Paiement" [(ngModel)]="paiement.datePaiement" required  type="date"/>
            <!--        <p class="text-sm text-red-600"   *ngIf="paiement.datePaiement === null || paiement.datePaiement === undefined">
                La date paiement doit être saisie.</p>-->
          </div>

          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Téléphone</label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Date Paiement" [(ngModel)]="paiement.datePaiement" required  type="date"/>
            <!--        <p class="text-sm text-red-600"   *ngIf="paiement.datePaiement === null || paiement.datePaiement === undefined">
                La date paiement doit être saisie.</p>-->
          </div>

          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Statut</label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Date Paiement" [(ngModel)]="paiement.datePaiement" required  type="date"/>
            <!--        <p class="text-sm text-red-600"   *ngIf="paiement.datePaiement === null || paiement.datePaiement === undefined">
                La date paiement doit être saisie.</p>-->
          </div>


        </div>
      }
  </div>
  </div>
</div>
