<div class="bg-third rounded-3xl py-4 ">
  <div  class="flex justify-center  ">
    <!-- Form fields for updating payment attributes -->
    <div class=" w-[60%]">
        <div class="grid grid-cols-2 gap-16 mt-6">
          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Membre </label>
            <select
              (change)="onMemberSelectionChange($event)"
              class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm" name="adherent" required
                     type="text">
              <option *ngFor="let member of members" [value]="member.id">{{ member.firstname }} {{ member.lastname }}
              </option>
            </select>
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.adherent === null || paiement.adherent === undefined">   L'adherent doit être saisie.</p>-->
          </div>

          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Type Abonnement </label>
            <select class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                    (change)="getDateFin($event)"
                    required
            >
              <option [value]="''"></option>
              <option *ngFor="let type of typeAbonnements" [value]="type">{{ type }}</option>
            </select>
            <!--        <p class="text-sm text-red-600"  *ngIf="paiement.typeAbonnement === null || paiement.typeAbonnement === undefined">
                Le type abonnement doit être saisie.</p>-->
          </div>

          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Date Début </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   (change)="getDateFin(null)" [(ngModel)]="paiement.dateDebut" placeholder="Date Début" required
                   type="date"/>
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.dateDebut === null || paiement.dateDebut === undefined">
                La date debut doit être saisie.</p>-->
          </div>

          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Date Fin </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   [(ngModel)]="paiement.dateFin" required  type="date"/>
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.dateFin === null || paiement.dateFin === undefined">
                La date fin doit être saisie.</p>-->
          </div>
          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Date Paiement </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Date Paiement" [(ngModel)]="paiement.datePaiement" required  type="date"/>
            <!--        <p class="text-sm text-red-600"   *ngIf="paiement.datePaiement === null || paiement.datePaiement === undefined">
                La date paiement doit être saisie.</p>-->
          </div>


          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Montant </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Montant" type="number" [(ngModel)]="paiement.montant" name="montant" min="0" required />
            <!--        <p class="text-sm text-red-600"  *ngIf="paiement.montant !== undefined && paiement.montant < 0">
                Le montant doit être positif..</p>-->
          </div>

          <div class=" ">
            <label class="block text-sm font-medium text-gray-400"> Reste </label>
            <input class="mt-1.5 h-10 px-4 w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                   placeholder="Reste" type="number" [(ngModel)]="paiement.reste" name="reste" min="0" />
            <!--        <p class="text-sm text-red-600" *ngIf="paiement.reste < 0">
                Le reste doit être positif.</p>-->
          </div>
          <div class=" col-span-2">
            <label class="block text-sm font-medium text-gray-400"> Remarque </label>
            <textarea [(ngModel)]="paiement.remarque" placeholder="Remarque"
                      class="mt-1.5 h-18 px-4  w-full rounded-lg border-second border-2 bg-transparent  text-black sm:text-sm"
                      rows="4"></textarea>
            <!--        <p class="text-sm text-red-600"  *ngIf="paiement.typeAbonnement === null || paiement.typeAbonnement === undefined">
                Le type abonnement doit être saisie.</p>-->
          </div>
          <div class="col-span-2">
            <label class="flex items-center">
              <input type="checkbox" class="form-checkbox h-5 w-5 text-main" [(ngModel)]="paiement.gratuit">
              <span class="ml-2 text-sm text-gray-400">Gratuit</span>
            </label>
          </div>
          <div class="col-span-2 flex justify-center">
            <button
              (click)="onSaveClick()" [disabled]="!isFormValid()"
              class="px-8 py-2 rounded-3xl font-semibold bg-main hover:bg-mainHover disabled:bg-second text-black">Enregistrer
            </button>
          </div>

        </div>
  </div>
  </div>
</div>
