.text-danger {
    color: red;
  }

  .custom-select {
    /* background color for the select */
    background-color: red;
    /* border color */
    border: 1px solid #cccccc;
    /* border radius */
    border-radius: 4px;
    /* color for the text */
    color: #333333;
    /* font size */
    font-size: 14px;
    /* padding */
    padding: 5px 10px;
  }

  .gray-background {
    background-color: #FAFAFA;
  }

  .no-shadow {
    box-shadow: none;
  }